html {
  --vh: 1vh;
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  &.lg-size {
    font-size: 70.3125%;
  }
  ::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.625rem;
    box-shadow: 0 0 0 0.063rem rgba(255, 255, 255, 0.3);
  }

  *:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
  }
}
* {
  &:focus {
    outline: 0.2rem dashed $error-color;
  }
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  transform: skew(-0.001deg);
}
//스킵 네비게이션
.skip-nav {
  a {
    position: absolute;
    top: -3rem;
    left: 0;
    background: $black-color;
    height: 3rem;
    line-height: 3rem;
    color: $white-color;
    font-size: 1.4rem;
    padding: 0 0.6rem;
    &:focus,
    &:active {
      top: 0;
    }
  }
}

//텍스트 색상
a,
.linked {
  color: $primary-color;
  &.linked {
    text-decoration: underline;
  }
}
strong {
  font-weight: 500;
}

.fc-primary {
  color: $primary-color !important;
}

.fc-blue {
  color: #2e7ff8 !important;
}

.fc-red {
  color: $error-color !important;
}

.fc-wht {
  color: $white-color !important;
}
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
/* 정렬 */
.t-right {
  text-align: right !important;
}
.t-left {
  text-align: left !important;
}
.t-center {
  text-align: center !important;
}
.va-top {
  vertical-align: top !important;
}
.va-middle {
  vertical-align: middle !important;
}
.va-bottom {
  vertical-align: bottom !important;
}
.f-left {
  float: left !important;
}
.f-right {
  float: right !important;
}
.clear {
  clear: both !important;
}

/* flex */
.inline-flex {
  display: inline-flex !important;
}
.align-start {
  align-items: flex-start !important;
}
.align-center {
  align-items: center !important;
}
.align-end {
  align-items: flex-end !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.space-between {
  justify-content: space-between !important;
}
.space-around {
  justify-content: space-around !important;
}
.space-evenly {
  justify-content: space-evenly !important;
}
.align-self-start {
  align-self: flex-start !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-end {
  align-self: flex-end !important;
}
.justify-self-start {
  justify-self: flex-start !important;
}
.justify-self-center {
  justify-self: center !important;
}
.justify-self-end {
  justify-self: flex-end !important;
}
.justify-stretch {
  justify-items: stretch !important;
}
.flex-1 {
  flex: 1 !important;
}
.flex-11 {
  flex: 1 1 auto !important;
}
.flex-10 {
  flex: 1 0 auto !important;
}
.flex-01 {
  flex: 0 1 auto !important;
}
.flex-00 {
  flex: 0 0 auto !important;
}
.flex-wrap {
  flex-flow: wrap !important;
}
.flex-column {
  flex-direction: column !important;
  > * + * {
    margin-left: 0;
  }
  &.flex > div + div {
    margin-left: 0;
    margin-top: 0.8rem;
  }
}
.flex {
  display: flex;
  & + .flex {
    margin-top: 0.8rem;
  }

  &:not(.not-full):not(.justify-start):not(.justify-center):not(.justify-end):not(.space-between):not(
      .space-around
    ):not(.space-evenly):not(.flex-11):not(.flex-10):not(.flex-01):not(.flex-00):not(.flex-wrap):not(.flex-column) {
    > *:not(.unit):not(i) {
      width: 100%;
    }
  }

  @include class-begins('w-', '>') {
    flex-grow: 0;
    flex-shrink: 0;
  }
  > .unit {
    display: flex;
    width: auto;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 0.2rem;
  }
  > .input,
  > .select {
    + .input,
    + .select {
      margin-top: 0;
    }
    &:not(.form-box) {
      + .input,
      + .select {
        margin-top: 0;
      }
    }
  }
  // > * + * {
  //   margin-left: 0.6rem;
  // }
  &.flex-column > * + * {
    margin-left: 0;
  }
  + .input,
  + .select,
  + .textarea {
    margin-top: 0.8rem;
  }
  > .button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    // flex: 1 1 auto;
    // width: auto !important;
  }
}
.overflow-inherit {
  overflow: inherit !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-auto {
  overflow: auto !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.overflow-y-inherit {
  overflow-y: inherit !important;
}

// div:table
.tbl {
  display: table;
  width: 100%;
  .th,
  .td {
    display: table-cell;
  }
}

.lh-1 {
  line-height: 1 !important;
}
.lh-1-3 {
  line-height: 1.3 !important;
}
.lh-1-4 {
  line-height: 1.4 !important;
}
.lh-2 {
  line-height: 2 !important;
}

// width
.w-auto {
  width: auto !important;
}
.w-full {
  width: 100% !important;
}

@for $i from 0 through 400 {
  .w-#{$i} {
    width: $i * 0.1rem !important;
  }
  .w-#{$i}f {
    flex: 0 0 $i * 0.1rem !important;
  }
  .fz-#{$i} {
    font-size: $i * 0.1rem !important;
  }
}
@for $i from 0 through 100 {
  @if $i !=33 and $i !=66 {
    .w-#{$i}p {
      width: $i * 1% !important;
    }
    .w-#{$i}vw {
      width: $i * 1vw !important;
    }
    .w-#{$i}fp {
      flex: 0 0 $i * 1% !important;
    }
  }
}
.w-33p {
  width: 33.3333% !important;
}
.w-66p {
  width: 66.6666% !important;
}
.w-33vw {
  width: 33.3333vw !important;
}
.w-66vw {
  width: 66.6666vw !important;
}
.w-33fp {
  flex: 0 0 33.3333% !important;
}
.w-66fp {
  flex: 0 0 66.6666% !important;
}

.bg1 {
  background-color: $background-color;
}

// height
.h-auto {
  height: auto !important;
}
.h-full {
  height: 100% !important;
}

@for $i from 0 through 500 {
  .h-#{$i} {
    height: $i * 0.1rem !important;
  }
  .maxH-#{$i} {
    max-height: $i * 0.1rem !important;
  }
  .minH-#{$i} {
    min-height: $i * 0.1rem !important;
  }
  .maxW-#{$i} {
    max-width: $i * 0.1rem !important;
  }
  .minW-#{$i} {
    min-width: $i * 0.1rem !important;
  }
}
.h-600 {
  height: 60rem !important;
}
@for $i from 1 through 40 {
  .h-#{$i*5 + 100} {
    height: $i * 0.5rem + 10rem !important;
  }
}
@for $i from 0 through 100 {
  @if $i !=33 and $i !=66 {
    .h-#{$i}p {
      height: $i * 1% !important;
    }
    .h-#{$i}vh {
      height: -vh(#{$i}) !important;
    }
  }
}
.h-33p {
  height: 33.3333% !important;
}
.h-66p {
  height: 66.6666% !important;
}
.h-33vh {
  height: 33.3333vh !important;
}
.h-66vh {
  height: 66.6666vh !important;
}
.h-100vh {
  height: 100vh !important;
}
.maxW-100p {
  max-width: 100% !important;
}
.maxH-100p {
  max-height: 100%;
}
// margin
.mg-autox {
  margin-left: auto !important;
  margin-right: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
@for $i from 0 through 100 {
  .mg-#{$i} {
    margin: $i * 0.1rem !important;
  }
  .mg-#{$i}x {
    margin-left: $i * 0.1rem !important;
    margin-right: $i * 0.1rem !important;
  }
  .mg-#{$i}y {
    margin-top: $i * 0.1rem !important;
    margin-bottom: $i * 0.1rem !important;
  }
  .mt-#{$i} {
    margin-top: $i * 0.1rem !important;
  }
  .mb-#{$i} {
    margin-bottom: $i * 0.1rem !important;
  }
  .ml-#{$i} {
    margin-left: $i * 0.1rem !important;
  }
  .mr-#{$i} {
    margin-right: $i * 0.1rem !important;
  }
}
@for $i from 1 through 20 {
  .mg-#{$i*5 + 100} {
    margin: $i * 0.5rem + 10rem !important;
  }
  .mg-#{$i*5 + 100}x {
    margin-left: $i * 0.5rem + 10rem !important;
    margin-right: $i * 0.5rem + 10rem !important;
  }
  .mg-#{$i*5 + 100}y {
    margin-top: $i * 0.5rem + 10rem !important;
    margin-bottom: $i * 0.5rem + 10rem !important;
  }
  .mt-#{$i*5 + 100} {
    margin-top: $i * 0.5rem + 10rem !important;
  }
  .mb-#{$i*5 + 100} {
    margin-bottom: $i * 0.5rem + 10rem !important;
  }
  .ml-#{$i*5 + 100} {
    margin-left: $i * 0.5rem + 10rem !important;
  }
  .mr-#{$i*5 + 100} {
    margin-right: $i * 0.5rem + 10rem !important;
  }
}
@for $i from 1 through 30 {
  .mt-m#{$i} {
    margin-top: -$i * 0.1rem !important;
  }
  .mb-m#{$i} {
    margin-bottom: -$i * 0.1rem !important;
  }
  .ml-m#{$i} {
    margin-left: -$i * 0.1rem !important;
  }
  .mr-m#{$i} {
    margin-right: -$i * 0.1rem !important;
  }
}

// padding
@for $i from 0 through 100 {
  .pd-#{$i} {
    padding: $i * 0.1rem !important;
  }
  .pd-#{$i}x {
    padding-left: $i * 0.1rem !important;
    padding-right: $i * 0.1rem !important;
  }
  .pd-#{$i}y {
    padding-top: $i * 0.1rem !important;
    padding-bottom: $i * 0.1rem !important;
  }
  .pt-#{$i} {
    padding-top: $i * 0.1rem !important;
  }
  .pb-#{$i} {
    padding-bottom: $i * 0.1rem !important;
  }
  .pl-#{$i} {
    padding-left: $i * 0.1rem !important;
  }
  .pr-#{$i} {
    padding-right: $i * 0.1rem !important;
  }
}
@for $i from 1 through 20 {
  .pd-#{$i*5 + 100} {
    padding: $i * 0.5rem + 10rem !important;
  }
  .pd-#{$i*5 + 100}x {
    padding-left: $i * 0.5rem + 10rem !important;
    padding-right: $i * 0.5rem + 10rem !important;
  }
  .pd-#{$i*5 + 100}y {
    padding-top: $i * 0.5rem + 10rem !important;
    padding-bottom: $i * 0.5rem + 10rem !important;
  }
  .pt-#{$i*5 + 100} {
    padding-top: $i * 0.5rem + 10rem !important;
  }
  .pb-#{$i*5 + 100} {
    padding-bottom: $i * 0.5rem + 10rem !important;
  }
  .pl-#{$i*5 + 100} {
    padding-left: $i * 0.5rem + 10rem !important;
  }
  .pr-#{$i*5 + 100} {
    padding-right: $i * 0.5rem + 10rem !important;
  }
}

// 글자 말줄임
.ellipsis,
.ellipsis-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
@for $i from 1 through 5 {
  .ellipsis-#{$i} {
    @include ellipsis($i);
  }
}

// border
.bd-none {
  border: none !important;
}
.bd-l-none {
  border-left: none !important;
}
.bd-r-none {
  border-right: none !important;
}
.bd-t-none {
  border-top: none !important;
}
.bd-b-none {
  border-bottom: none !important;
}
@for $i from 0 through 10 {
  .bd-#{$i} {
    border-width: $i * 0.1rem !important;
  }
  .bd-l-#{$i} {
    border-left-width: $i * 0.1rem !important;
  }
  .bd-r-#{$i} {
    border-right-width: $i * 0.1rem !important;
  }
  .bd-t-#{$i} {
    border-top-width: $i * 0.1rem !important;
  }
  .bd-b-#{$i} {
    border-bottom-width: $i * 0.1rem !important;
  }
}
@for $i from 0 through 30 {
  .bd-radius-#{$i} {
    border-radius: $i * 0.1rem !important;
  }
}

$bdTypes: (solid, dashed, dotted);
@each $bdType in $bdTypes {
  .bd-#{$bdType} {
    border-style: #{$bdType};
  }
  .bd-top-#{$bdType} {
    border-top-style: #{$bdType};
  }
  .bd-bottom-#{$bdType} {
    border-bottom-style: #{$bdType};
  }
  .bd-left-#{$bdType} {
    border-left-style: #{$bdType};
  }
  .bd-right-#{$bdType} {
    border-right-style: #{$bdType};
  }
}

// opacity
@for $i from 1 through 20 {
  .op-#{$i*5} {
    opacity: $i * 0.05 !important;
  }
}

// filter
.blur img {
  filter: blur(6px);
}
.grayscale img {
  filter: grayscale(1);
}

// etc
.scroll-x {
  @include scroll-x;
  .section & {
    @include outer;
    @include scroll-padding;
  }
}
.scroll-y {
  @include scroll-y;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
.hide {
  display: none !important;
  &.show {
    display: block !important;
  }
}
.tbl-column {
  display: table-column;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  @include text-blind;
}
.break-all {
  word-break: break-all;
}
.keep-all {
  word-break: keep-all;
}
.line-through {
  text-decoration: line-through;
}
.line-underline {
  text-decoration: underline;
}
.nowrap {
  white-space: nowrap;
}
.wh-sp-normal {
  white-space: normal;
}
.underline {
  text-decoration: underline;
}
.pre-line {
  white-space: pre-line;
}
.pre-line-wrap {
  display: block;
  white-space: pre-line;
}

.hr-divide {
  display: block;
  height: 1.2rem;
  margin: 1.2rem 0;
  background-color: $readonly-color;
  border-top: 0.1rem solid $line-color;
  border-bottom: 0;
}
// 전체 동의
.lineType {
  &.checkbox {
    display: block;
    padding: 1.2rem 2rem;
    font-weight: 700;
    transition: 0.3s ease-in-out background;
    &:focus {
      outline: 0.2rem dashed $error-color;
    }
    span {
      font-size: 1.8rem;
    }
    input:checked + .lbl + span {
      color: $black-color;
    }
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: -0.2rem;
      border: 0.1rem solid $box-line;
      border-radius: 0.8rem;
      transition: 0.3s ease-in-out border-color;
    }
  }
  &.checked {
    &::after {
      border-color: $primary-color;
    }
    background-color: #f8fbff;
  }
}
.all-check {
  margin-top: 2.4rem;
}
// 동의 항목
.insurance_agreeList {
  margin-top: 2.4rem;
  li {
    position: relative;
    padding-left: 3.4rem;
    box-sizing: border-box;
    display: flex;
    & + li {
      margin-top: 2rem;
    }
    .checkbox {
      &.iconType {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .ico-agree {
      position: absolute;
      left: 0;
      top: 0;
      width: 2.4rem;
      height: 2.4rem;
      background-repeat: no-repeat;
      background-size: 2.4rem;
      background-position: center;
      filter: grayscale(1);
      opacity: 0.5;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Crect width='24' height='24' rx='6' fill='white'/%3E%3Cpath d='M7.61232 11.268C7.46187 11.108 7.25432 11.0139 7.03483 11.0061C6.81533 10.9983 6.60162 11.0774 6.44018 11.2263C6.27874 11.3753 6.18262 11.5819 6.17272 11.8013C6.16282 12.0207 6.23995 12.2352 6.38732 12.398L9.39732 15.6639C9.84482 16.1022 10.5115 16.1022 10.9257 15.6889L11.229 15.3897C12.3244 14.3124 13.4186 13.2338 14.5115 12.1539L14.5448 12.1205C15.5662 11.1139 16.5824 10.102 17.5932 9.08469C17.7442 8.92653 17.8271 8.7153 17.8238 8.49661C17.8205 8.27791 17.7314 8.06927 17.5756 7.91571C17.4199 7.76214 17.21 7.67597 16.9913 7.67578C16.7725 7.67559 16.5625 7.7614 16.4065 7.91469C15.4004 8.92664 14.3892 9.9336 13.3732 10.9355L13.3398 10.9689C12.2925 12.0041 11.2439 13.038 10.194 14.0705L7.61232 11.268Z' fill='%232C57F3'/%3E%3C/svg%3E");
      &.agreed {
        filter: grayscale(0);
        opacity: 1;
      }
    }
    &::after {
      content: '';
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2.4rem;
      margin-left: auto;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Crect width='24' height='24' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.21967 6.21967C8.92678 6.51256 8.92678 6.98744 9.21967 7.28033L13.5643 11.625L9.21967 15.9697C8.92678 16.2626 8.92678 16.7374 9.21967 17.0303C9.51256 17.3232 9.98744 17.3232 10.2803 17.0303L15.1553 12.1553C15.4482 11.8624 15.4482 11.3876 15.1553 11.0947L10.2803 6.21967C9.98744 5.92678 9.51256 5.92678 9.21967 6.21967Z' fill='%231A1B1D'/%3E%3C/svg%3E");
    }
    a {
      color: $base-txt-color;
      line-height: 2.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      display: inline-block;
      width: 100%;
      text-decoration: none;
    }
  }
}
// 로딩(스프레시 화면)
.splash-screen {
  background-color: $white-color;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: cneter;

  @keyframes fadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .kidi-loading {
    box-sizing: border-box;
    padding: 0 7.2rem;
    padding-top: 18rem;
    strong {
      display: block;
      font-size: 0;
      width: 18.2rem;
      height: 7.2rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      animation: fadeInOut 3s ease-in-out infinite;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='179' height='65' viewBox='0 0 179 65' fill='none'%3E%3Cpath d='M26.232 6.44H29.432V11.688H26.232V21.224H20.824V0.999998H26.232V6.44ZM17.336 5.704C17.336 13.64 10.424 17.416 1.048 17.416V12.648C7.416 12.584 11.832 10.28 11.832 6.6V5.992H1.048V1.32H17.336V5.704ZM7.608 18.856V23.464H26.616V28.328H2.104V18.856H7.608ZM51.9573 21.288V14.728H49.4933V10.248H51.9573V8.2H49.4933V3.72H51.9573V0.999998H57.2693V21.288H51.9573ZM48.7253 16.968C47.3173 17.416 44.6933 17.672 42.1013 17.672H30.9013V13.256H33.1413V5.768H31.0933V1.32H48.3093V5.768H46.1973V13.096C47.1893 13 48.0533 12.84 48.7253 12.648V16.968ZM38.2613 5.768V13.256H41.0773V5.768H38.2613ZM38.3253 23.528H57.6533V28.328H32.8213V19.304H38.3253V23.528ZM79.2825 2.856V7.08H60.5945V2.856H67.1865V0.519999H72.6905V2.856H79.2825ZM86.5145 7.336H89.7145V12.584H86.5145V21.384H81.1065V0.999998H86.5145V7.336ZM69.9385 19.112C65.3945 19.112 61.5545 17.192 61.5545 13.48C61.5545 9.768 65.3945 7.848 69.9385 7.848C74.4825 7.848 78.3225 9.768 78.3225 13.48C78.3225 17.192 74.4825 19.112 69.9385 19.112ZM69.9385 11.752C67.9865 11.752 66.7065 12.52 66.7065 13.48C66.7065 14.44 67.9865 15.208 69.9385 15.208C71.8905 15.208 73.1705 14.44 73.1705 13.48C73.1705 12.52 71.8905 11.752 69.9385 11.752ZM67.8905 19.912V23.624H86.8985V28.328H62.3865V19.912H67.8905Z' fill='%23192B87'/%3E%3Cpath d='M27 37V50.376H21.592V37H27ZM10.488 45.992C8.152 48.552 4.792 50.28 0.92 50.472V45.768C5.24 45.256 8.28 41.896 8.376 37.128L13.784 37.448C13.784 39.112 13.464 40.712 12.856 42.184L20.376 46.152L17.88 50.056L10.488 45.992ZM7.928 60.584H27.288V64.328H2.584V56.168H21.656V55.08H2.52V51.336H27V59.496H7.928V60.584ZM56.1493 48.936L44.4053 43.848C41.2693 46.824 36.5973 48.68 31.5093 48.776V44.168C36.7253 43.976 41.8773 40.936 42.7413 36.232L48.2133 37.128C47.9893 38.216 47.6373 39.272 47.1253 40.232L58.2293 44.808L56.1493 48.936ZM47.2533 50.632H58.3573V55.08H30.7093V50.632H41.8133V46.92H47.2533V50.632ZM37.8133 56.296V59.816H57.0773V64.328H32.3093V56.296H37.8133ZM77.4265 58.312H88.4985V63.368H60.8505V58.312H71.9225V54.152H62.3545V37.64H67.6665V41.128H81.6825V37.64H86.9945V54.152H77.4265V58.312ZM67.6665 45.896V49.32H81.6825V45.896H67.6665ZM109.584 38.6V42.568H90.8958V38.6H97.4878V36.52H102.992V38.6H109.584ZM112.144 37H117.552V53.192H112.144V49.064H109.264V44.296H112.144V37ZM100.24 53.288C95.7278 53.288 91.9838 51.528 91.9838 48.264C91.9838 45 95.7278 43.24 100.24 43.24C104.752 43.24 108.496 45 108.496 48.264C108.496 51.528 104.752 53.288 100.24 53.288ZM100.24 46.984C98.2878 46.984 97.0398 47.496 97.0398 48.264C97.0398 49.032 98.2878 49.544 100.24 49.544C102.192 49.544 103.44 49.032 103.44 48.264C103.44 47.496 102.192 46.984 100.24 46.984ZM93.1038 64.328V54.152H117.552V64.328H93.1038ZM98.4478 58.28V60.2H112.208V58.28H98.4478ZM130.541 48.808C128.429 51.208 125.325 52.936 121.613 53.032V48.488C124.877 48.232 127.053 45.96 127.821 43.4H121.933V39.048H127.949V36.52H133.453V39.048H139.469V42.184H142.285V37H147.693V53.224H142.285V46.984H138.701V43.4H133.357C133.229 43.912 133.101 44.424 132.909 44.904L140.269 48.872L137.837 52.84L130.541 48.808ZM135.469 53.576C142.445 53.576 147.949 54.92 147.949 59.112C147.949 63.304 142.445 64.648 135.469 64.648C128.493 64.648 122.989 63.304 122.989 59.112C122.989 54.92 128.493 53.576 135.469 53.576ZM135.469 60.52C139.181 60.52 142.157 60.232 142.157 59.112C142.157 58.024 139.181 57.704 135.469 57.704C131.757 57.704 128.781 58.024 128.781 59.112C128.781 60.232 131.757 60.52 135.469 60.52ZM171.722 50.248V42.344H152.81V37.32H177.322V50.248H171.722ZM178.922 51.88V56.904H167.722V64.968H162.122V56.904H151.274V51.88H178.922Z' fill='%232E7FF8'/%3E%3C/svg%3E");
    }
    .logo {
      width: 10.3rem;
      height: 7.2rem;
      display: block;
      margin-bottom: 3.2rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      animation: fadeInOut 3s ease-in-out infinite;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='103' height='72' viewBox='0 0 103 72' fill='none'%3E%3Cg clip-path='url(%23clip0_1194_14999)'%3E%3Cpath d='M37.6803 0.03125H0V71.9169H37.3886L7.96148 36.1486L37.6803 0.03125Z' fill='%23192B87'/%3E%3Cpath d='M59.8091 31.1289H38.5137V71.9151H59.8091V31.1289Z' fill='%23192B87'/%3E%3Cpath d='M37.584 11.4868C37.584 17.8162 42.7681 22.9483 49.1616 22.9483C55.555 22.9483 60.7391 17.8162 60.7391 11.4868C60.7391 5.15735 55.555 0.03125 49.1616 0.03125C42.7681 0.03125 37.584 5.16336 37.584 11.4868Z' fill='%23E7350E'/%3E%3Cpath d='M64.6816 71.918V71.9962C80.9632 71.8939 94.7347 61.9666 99.9492 48.1406H64.6816V71.918Z' fill='%23192B87'/%3E%3Cpath d='M79.8223 71.9141V71.9983C79.9013 71.9983 79.9742 71.9983 80.0532 71.9983V71.9201H79.8223V71.9141Z' fill='%23192B87'/%3E%3Cpath d='M64.6816 22.5741H99.4447C93.896 9.42191 80.4466 0.102281 64.6816 0V22.5741Z' fill='%23192B87'/%3E%3Cpath d='M79.8223 0.0300827H80.0532V0C79.9742 0 79.9013 0 79.8223 0V0.0300827Z' fill='%23192B87'/%3E%3Cpath d='M64.6816 23.6202C64.864 23.5961 65.0463 23.572 65.2408 23.572C66.8756 23.572 68.4193 23.8608 69.8657 24.306H100.083C99.9492 23.915 99.8094 23.5179 99.6574 23.1328H64.6816V23.6202Z' fill='%231CA144'/%3E%3Cpath d='M73.7677 26.1498H100.715C100.606 25.7527 100.466 25.3616 100.332 24.9766H71.6406C72.4003 25.3135 73.1114 25.7046 73.7677 26.1498Z' fill='%231CA144'/%3E%3Cpath d='M76.1139 28.1576H101.244C101.159 27.7665 101.044 27.3694 100.934 26.9844H74.9531C75.3785 27.3454 75.7553 27.7485 76.1139 28.1576Z' fill='%231CA144'/%3E%3Cpath d='M77.5173 29.9974H101.627C101.56 29.6064 101.505 29.2093 101.42 28.8242H76.7637C77.0615 29.1912 77.2803 29.6004 77.5234 29.9974H77.5173Z' fill='%231CA144'/%3E%3Cpath d='M78.4966 32.0092H101.95C101.895 31.6121 101.816 31.233 101.761 30.8359H78.0469C78.2414 31.215 78.3447 31.6181 78.4966 32.0092Z' fill='%231CA144'/%3E%3Cpath d='M78.9896 33.849H102.078C102.054 33.4579 102.054 33.0608 102.023 32.6758H78.7344C78.8438 33.0669 78.9228 33.4519 78.9896 33.849Z' fill='%231CA144'/%3E%3Cpath d='M79.1832 35.5801C79.1832 35.6703 79.1589 35.7666 79.1528 35.8568H102.186C102.186 35.4597 102.132 35.0807 102.12 34.6836H79.0859C79.1102 34.9844 79.1832 35.2732 79.1832 35.5801Z' fill='%231CA144'/%3E%3Cpath d='M78.9453 37.6985H102.034C102.058 37.3014 102.131 36.9223 102.131 36.5312H79.0851C79.0426 36.9223 79.0304 37.3194 78.9453 37.6985Z' fill='%231CA144'/%3E%3Cpath d='M78.2832 39.7084H101.833C101.876 39.3233 101.912 38.9322 101.955 38.5352H78.7147C78.5932 38.9322 78.4534 39.3293 78.2893 39.7084H78.2832Z' fill='%231CA144'/%3E%3Cpath d='M77.2695 41.55H101.664C101.743 41.171 101.743 40.7679 101.786 40.3828H78.0171C77.8104 40.7919 77.5369 41.165 77.2695 41.55Z' fill='%231CA144'/%3E%3Cpath d='M75.5803 43.5578H101.233C101.331 43.1607 101.476 42.7937 101.561 42.3906H76.7046C76.3643 42.8058 75.9693 43.1788 75.5742 43.5578H75.5803Z' fill='%231CA144'/%3E%3Cpath d='M73.1973 45.4016H100.716C100.825 45.0105 100.947 44.6255 101.044 44.2344H74.8625C74.3459 44.6555 73.7868 45.0526 73.1973 45.4016Z' fill='%231CA144'/%3E%3Cpath d='M67.1016 47.4094H100.157C100.278 47.0304 100.351 46.6272 100.473 46.2422H71.4956C70.1464 46.8318 68.6695 47.2349 67.1016 47.4094Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 28.8241H76.7636C76.5874 28.5834 76.3382 28.3849 76.1194 28.1562H64.6816V28.8241Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 32.6756H78.7388C78.672 32.447 78.5869 32.2364 78.4957 32.0078H64.6816V32.6756Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 30.8363H78.046C77.9123 30.5475 77.7056 30.2828 77.5172 30H64.6816V30.8363Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 47.5344C64.864 47.5524 65.0463 47.5825 65.2408 47.5825C65.8667 47.5825 66.4806 47.4923 67.1065 47.4141H64.6816V47.5404V47.5344Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 46.2408H71.5006C72.084 45.9881 72.6735 45.7293 73.2022 45.3984H64.6816V46.2408Z' fill='%231CA144'/%3E%3Cpath d='M64.6819 26.9847H74.9528C74.5942 26.6839 74.1749 26.4192 73.7677 26.1484H64.6758V26.9847H64.6819Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 44.2324H74.8675C75.1166 44.0219 75.3415 43.7872 75.5785 43.5586H64.6816V44.2324Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 42.3931H76.7089C76.9156 42.1224 77.0797 41.8336 77.2681 41.5508H64.6816V42.3931Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 34.684H79.0852C79.0609 34.4072 79.0427 34.1244 78.988 33.8477H64.6816V34.684Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 24.9725H71.6403C71.0691 24.7198 70.4917 24.4972 69.8657 24.3047H64.6816V24.9725Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 38.5355H78.7145C78.7996 38.2648 78.8786 37.988 78.9454 37.6992H64.6816V38.5355Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 40.3848H78.0156C78.1128 40.1682 78.204 39.9396 78.2891 39.7109H64.6816V40.3848Z' fill='%231CA144'/%3E%3Cpath d='M64.6816 36.5332H79.0852C79.0974 36.3106 79.1521 36.088 79.1521 35.8594H64.6816V36.5332Z' fill='%231CA144'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1194_14999'%3E%3Crect width='102.857' height='72' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
    .version-info {
      display: block;
      margin-top: 6.4rem;
      color: $text-body-color;
      line-height: 2rem;
      font-size: 1.4rem;
      font-weight: 400;
      animation: fadeInOut 3s ease-in-out infinite;
    }
  }
}
