// datepicker
.vc-highlight-content-solid {
  background-color: $primary-color;
}
.date-picker {
  .inline-flex {
    padding-right: 3.6rem;
    position: relative;
    input {
      cursor: pointer;
      font-size: 1.6rem;
    }
    .btn-date {
      width: 2rem;
      height: 2rem;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_2155_31161)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 2C8.55228 2 9 2.44772 9 3V4H15V3C15 2.44772 15.4477 2 16 2C16.5523 2 17 2.44772 17 3V4H19C20.6569 4 22 5.34315 22 7V19C22 20.6569 20.6569 22 19 22H5C3.34315 22 2 20.6569 2 19V7C2 5.34315 3.34315 4 5 4H7V3C7 2.44772 7.44772 2 8 2ZM7 6H5C4.44772 6 4 6.44772 4 7V19C4 19.5523 4.44772 20 5 20H19C19.5523 20 20 19.5523 20 19V7C20 6.44772 19.5523 6 19 6H17V7C17 7.55228 16.5523 8 16 8C15.4477 8 15 7.55228 15 7V6H9V7C9 7.55228 8.55228 8 8 8C7.44772 8 7 7.55228 7 7V6ZM6 11C6 10.4477 6.44772 10 7 10H17C17.5523 10 18 10.4477 18 11C18 11.5523 17.5523 12 17 12H7C6.44772 12 6 11.5523 6 11Z' fill='%238C949E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2155_31161'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
}
.vc-header {
  height: 3rem;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-gap: 0.4rem;
  .vc-title {
    &:focus {
      outline: 0.2rem dashed $error-color !important;
    }
  }
}
.vc-popover-content-wrapper {
  width: auto !important;
  z-index: 100;
}
.vc-weekday {
  font-size: 1.4rem;
  padding-top: 0.4rem;
  line-height: 1.4rem;
  padding-bottom: 0.8rem;
  color: $black-color;
  font-weight: 500;
  &.vc-weekday-1 {
    // 일요일
    color: $error-color;
  }
  &.vc-weekday-7 {
    // 토요일
    color: $primary-color;
  }
}
.vc-highlight {
  width: 2.8rem;
  height: 2.8rem;
}
.vc-day-content {
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  &:focus {
    outline: 0.1rem dashed $error-color;
  }
}

.date-fromTo {
  display: flex;
  width: 100%;
  align-items: center;
  .date-dash {
    display: block;
    width: 2rem;
    text-align: center;
    position: relative;
    flex: 0 0 auto;
    &::before {
      content: '';
      display: block;
      width: 0.7rem;
      position: absolute;
      height: 0.1rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $black-color;
    }
  }
  .input-box {
    flex: 1 1 auto;
  }
}

//바텀 시트
// .bottomOnly {
//   .vc-popover-content-wrapper {
//     inset: auto auto 0 0 !important;
//     top: -34rem !important;
//     z-index: 100;
//   }
// }
