//헤더
#header {
  &.web-header {
    border-bottom: 0.1rem solid #cbd4e1;
    box-sizing: border-box;
    &::before {
      content: '';
      display: block;
      height: 0;
      opacity: 0;
      position: absolute;
      top: 15.1rem;
      left: 0;
      right: 0;
      z-index: 10;
      visibility: hidden;
      background-color: $white-color;
      transition: 0.3s ease-in-out all;
      border-bottom: 0.1rem solid #cbd4e1;
    }
    .inner {
      padding: 0 4rem;
      padding-top: 8.2rem;
      position: relative;
      height: 15rem;
      max-width: 128rem;
      margin: auto;
      align-items: flex-start;
    }
    .header-topMenu {
      position: absolute;
      right: 2rem;
      top: 1rem;
      display: flex;
      gap: 0.8rem;
      align-items: center;
      right: 4rem;
      .myInfo-txt {
        color: #727272;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 600;
        margin-right: 0.8rem;
      }
      .btn {
        font-weight: 500;
      }
    }
    .gnb-menu {
      width: 100%;
      flex: 1 1 auto;
      height: auto;
      overflow: inherit;
      padding: 0 0 0 6.5rem;
      @include media-min-width(1280) {
        padding: 0 0 0 17.3rem;
      }
      ul {
        display: flex;
        width: 100%;
        align-items: center;
        li {
          position: relative;
          padding: 0 2.2rem;
          @include media-min-width(1024) {
            padding: 0 1.4rem;
          }
          a {
            font-weight: 700;
            color: #333;
            font-size: 2rem;
            position: relative;
            line-height: 3rem;
            padding: 0 0.2rem 0.3rem;
            transition: 0.3s ease-in-out all;
            &:active,
            &.active,
            &:hover,
            &:focus {
              color: $primary-color;
            }
            &.active {
              &::before {
                content: '';
                display: block;
                position: absolute;
                height: 0.2rem;
                background-color: $primary-color;
                bottom: -0.2rem;
                right: 0;
                left: 0;
              }
            }
          }
        }
        .depth-2 {
          position: absolute;
          display: block;
          top: 10rem;
          height: 0;
          overflow: hidden;
          z-index: -1;
          width: calc(100% + 4rem);
          left: 50%;
          transform: translateX(-50%);
          li {
            white-space: nowrap;
            text-align: center;
            margin-bottom: 0;
            overflow: hidden;
            & + li {
              margin-top: 1rem;
            }
            a {
              position: relative;
              color: $text-body-color;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 2.4rem;
              top: -2.2rem;
              opacity: 0;
              &::before {
                content: none;
              }
              &:active,
              &.active,
              &:hover,
              &:focus {
                color: $primary-color;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    #logo {
      height: 2.8rem;
      a {
        font-size: 0;
        &:focus {
          outline: 0.1rem dashed $error-color;
        }
      }
      .logo {
        width: 13.1rem;
        height: 3rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='131' height='30' viewBox='0 0 131 30' fill='none'%3E%3Cg clip-path='url(%23clip0_2196_84499)'%3E%3Cpath d='M113.026 25H99.2456V22.6173L106.492 15.5656C108.531 13.568 109.464 12.2443 109.464 10.6077C109.464 8.94705 108.26 7.76775 105.976 7.76775C103.765 7.76775 102.562 9.3562 101.997 11.3779L99 10.6799C99.8106 7.69555 102.12 5 105.976 5C109.906 5 112.584 7.02166 112.584 10.4874C112.584 13.0866 111.233 14.9398 108.948 17.154L103.765 22.16H113.026V25Z' fill='%23231815'/%3E%3Cpath d='M128.224 18.1408H131V20.9567H128.224V25H125.105V20.9567H115.329V18.5018L124.049 5H128.224V18.1408ZM125.105 8.65824L119.136 18.1408H125.105V8.65824Z' fill='%23231815'/%3E%3Cpath d='M69.4169 4H72.5393V14.6603H69.4169V4ZM65.953 14.5197L59.879 11.1693C58.6593 12.5985 56.903 13.8403 54.5612 14.9883L53 12.5282C57.2445 10.4665 58.7813 8.26411 58.7813 5.78062V4.5623H61.8305V5.78062C61.8305 6.83493 61.6597 7.81896 61.3182 8.7327L67.5142 12.1065L65.953 14.5197ZM60.1961 22.0405V23.4931H73.2467V26H57.0737V19.6273H69.4169V18.2918H56.9518V15.8552H72.5393V22.0405H60.1961Z' fill='%23231815'/%3E%3Cpath d='M94.1947 13.2428L85.5838 9.91587C84.0226 11.2513 81.6076 12.3525 78.1437 13.2428L77.1436 10.6656C82.7785 9.11928 84.8764 7.22151 84.8764 5.15974V4.15229H87.9012V5.15974C87.9012 6.02662 87.7304 6.84664 87.4133 7.59638L95.39 10.7359L94.1947 13.2428ZM87.828 12.4696V15.1406H97V17.8584H75.5336V15.1406H84.7056V12.4696H87.828ZM78.2657 19.5218H81.3881V23.0596H94.8778V25.8477H78.2657V19.5218Z' fill='%23231815'/%3E%3Cpath d='M15.5415 0.012429H0V29.9648H15.4212L3.28377 15.0613L15.5415 0.012429Z' fill='%23192B87'/%3E%3Cpath d='M24.6686 12.9707H15.8851V29.965H24.6686V12.9707Z' fill='%23192B87'/%3E%3Cpath d='M15.5016 4.78555C15.5016 7.4228 17.6398 9.56118 20.2768 9.56118C22.9139 9.56118 25.0521 7.4228 25.0521 4.78555C25.0521 2.1483 22.9139 0.012429 20.2768 0.012429C17.6398 0.012429 15.5016 2.15081 15.5016 4.78555Z' fill='%23E7350E'/%3E%3Cpath d='M26.6788 29.9975C33.3942 29.9549 39.0744 25.8185 41.2251 20.0577H26.6788V29.9975Z' fill='%23192B87'/%3E%3Cpath d='M32.923 29.9649V30C32.9556 30 32.9857 30 33.0183 30V29.9674H32.923V29.9649Z' fill='%23192B87'/%3E%3Cpath d='M26.6788 9.40586H41.0171C38.7285 3.92579 33.1811 0.0426172 26.6788 0V9.40586Z' fill='%23192B87'/%3E%3Cpath d='M32.923 0.0125345H33.0183V0C32.9857 0 32.9556 0 32.923 0V0.0125345Z' fill='%23192B87'/%3E%3Cpath d='M26.6788 9.84216C26.754 9.83214 26.8292 9.82211 26.9094 9.82211C27.5837 9.82211 28.2204 9.94244 28.817 10.128H41.2803C41.2251 9.965 41.1675 9.79955 41.1048 9.63911H26.6788V9.84216Z' fill='%231CA144'/%3E%3Cpath d='M30.4263 10.895H41.541C41.4959 10.7295 41.4382 10.5666 41.3831 10.4062H29.549C29.8623 10.5465 30.1556 10.7095 30.4263 10.895Z' fill='%231CA144'/%3E%3Cpath d='M31.3941 11.7322H41.7592C41.7241 11.5692 41.6765 11.4038 41.6314 11.2433H30.9153C31.0907 11.3937 31.2462 11.5617 31.3941 11.7322Z' fill='%231CA144'/%3E%3Cpath d='M31.9727 12.4994H41.9168C41.8892 12.3365 41.8667 12.171 41.8316 12.0106H31.6619C31.7847 12.1635 31.875 12.334 31.9752 12.4994H31.9727Z' fill='%231CA144'/%3E%3Cpath d='M32.3765 13.3366H42.0499C42.0273 13.1712 41.9947 13.0132 41.9721 12.8478H32.191C32.2712 13.0057 32.3139 13.1737 32.3765 13.3366Z' fill='%231CA144'/%3E%3Cpath d='M32.5795 14.1037H42.1024C42.0924 13.9407 42.0924 13.7753 42.0799 13.6148H32.4742C32.5193 13.7778 32.5519 13.9382 32.5795 14.1037Z' fill='%231CA144'/%3E%3Cpath d='M32.6599 14.8257C32.6599 14.8634 32.6499 14.9035 32.6474 14.9411H42.1478C42.1478 14.7756 42.1252 14.6177 42.1202 14.4522H32.6198C32.6298 14.5776 32.6599 14.6979 32.6599 14.8257Z' fill='%231CA144'/%3E%3Cpath d='M32.5621 15.7083H42.0851C42.0951 15.5428 42.1252 15.3849 42.1252 15.2219H32.6198C32.6022 15.3849 32.5972 15.5503 32.5621 15.7083Z' fill='%231CA144'/%3E%3Cpath d='M32.2887 16.5455H42.0021C42.0197 16.3851 42.0347 16.2221 42.0523 16.0567H32.4667C32.4165 16.2221 32.3589 16.3876 32.2912 16.5455H32.2887Z' fill='%231CA144'/%3E%3Cpath d='M31.8701 17.3125H41.932C41.9645 17.1546 41.9646 16.9866 41.9821 16.8262H32.1784C32.0932 16.9966 31.9804 17.1521 31.8701 17.3125Z' fill='%231CA144'/%3E%3Cpath d='M31.1735 18.1499H41.7542C41.7943 17.9844 41.8545 17.8315 41.8896 17.6636H31.6372C31.4968 17.8365 31.3339 17.992 31.171 18.1499H31.1735Z' fill='%231CA144'/%3E%3Cpath d='M30.1908 18.9169H41.5412C41.5863 18.754 41.6364 18.5936 41.6765 18.4306H30.8777C30.6646 18.6061 30.434 18.7715 30.1908 18.9169Z' fill='%231CA144'/%3E%3Cpath d='M27.6766 19.7543H41.3106C41.3607 19.5964 41.3908 19.4284 41.4409 19.268H29.489C28.9325 19.5137 28.3234 19.6816 27.6766 19.7543Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 12.0105L31.6619 12.0106C31.5892 11.9103 31.4866 11.8275 31.3964 11.7323H26.6788V12.0105Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 13.615H32.4768C32.4492 13.5197 32.4141 13.4319 32.3765 13.3366L26.6788 13.3367V13.615Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 12.8478L32.191 12.8478C32.1359 12.7274 32.0504 12.6173 31.9727 12.4994L26.6788 12.4993V12.8478Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 19.8069C26.754 19.8144 26.8292 19.8269 26.9094 19.8269C27.1676 19.8269 27.4208 19.7893 27.6789 19.7567H26.6788V19.8094V19.8069Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 19.2681H29.4913C29.7319 19.1628 29.9751 19.055 30.1932 18.9171H26.6788V19.2681Z' fill='%231CA144'/%3E%3Cpath d='M30.9153 11.2433C30.7674 11.118 30.5943 11.0078 30.4263 10.895L26.6761 10.8949V11.2433L30.9153 11.2433Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 18.4306H30.88C30.9828 18.3429 31.0757 18.2452 31.1735 18.1499L26.6788 18.1498V18.4306Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 17.6636H31.6395C31.7248 17.5508 31.7924 17.4303 31.8701 17.3125L26.6788 17.3127V17.6636Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 14.4522L32.6198 14.4522C32.6098 14.3369 32.6021 14.219 32.5795 14.1037L26.6788 14.1038V14.4522Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 10.4061L29.549 10.4062C29.3133 10.3009 29.0752 10.2082 28.817 10.128L26.6788 10.1278V10.4061Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 16.0567L32.4667 16.0567C32.5017 15.9439 32.5345 15.8286 32.5621 15.7083L26.6788 15.7082V16.0567Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 16.8262L32.1784 16.8262C32.2185 16.7359 32.2561 16.6408 32.2912 16.5455L26.6788 16.5454V16.8262Z' fill='%231CA144'/%3E%3Cpath d='M26.6788 15.2219L32.6198 15.2219C32.6248 15.1292 32.6474 15.0363 32.6474 14.9411L26.6788 14.9412V15.2219Z' fill='%231CA144'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2196_84499'%3E%3Crect width='131' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }
    .right {
      margin-left: auto;
      top: 8rem;
      position: absolute;
      right: 4rem;
      gap: 0 1.6rem;
    }
    .btn-menuClose {
      position: absolute;
      width: 3.2rem;
      right: 4rem;
      top: 18.3rem;
      height: 3.2rem;
      z-index: 10;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      font-size: 0;
      display: none;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.05752 7.05703C7.57822 6.53633 8.42244 6.53633 8.94313 7.05703L16.0003 14.1142L23.0575 7.05703C23.5782 6.53633 24.4224 6.53633 24.9431 7.05703C25.4638 7.57773 25.4638 8.42195 24.9431 8.94265L17.8859 15.9998L24.9431 23.057C25.4638 23.5777 25.4638 24.4219 24.9431 24.9426C24.4224 25.4633 23.5782 25.4633 23.0575 24.9426L16.0003 17.8855L8.94313 24.9426C8.42244 25.4633 7.57822 25.4633 7.05752 24.9426C6.53682 24.4219 6.53682 23.5777 7.05752 23.057L14.1147 15.9998L7.05752 8.94265C6.53682 8.42195 6.53682 7.57773 7.05752 7.05703Z' fill='%231A1B1D'/%3E%3C/svg%3E");
    }
  }
  &.fixed {
    position: fixed;
    z-index: 30;
    width: 100%;
    background-color: $white-color;
    transition: transform 0.3s;
    box-shadow: 0 -1rem 2rem 0 rgba(0, 0, 0, 0.2);
    &.is-up {
      box-shadow: none;
      transform: translateY(-100%);
    }
  }
}
.gnbFocus,
.gnbOpen {
  #header {
    &.web-header {
      &::before {
        opacity: 1;
        height: 31.8rem;
        visibility: visible;
      }
      .gnb-menu {
        ul {
          .depth-2 {
            height: auto;
            z-index: 10;
            li {
              overflow: inherit;
            }
            a {
              top: 0;
              opacity: 1;
            }
          }
        }
      }
      .btn-menuClose {
        display: block;
      }
    }
  }
}
