/** 스와이퍼 시작 **/
.swiper {
  .fullSwiper {
    .swiper-slide {
      width: 100%;
    }
  }
}
// 인증서 스와이프
.swiper-certificate {
  margin: 0 -2rem;
  .swiper {
    padding: 0 2rem;
  }
  .swiper-slide {
    padding-top: 2.4rem;
    //width: auto;
  }
  .swiper-pagination {
    margin-top: 1.2rem;
    position: static;
    .swiper-pagination-bullet {
      background-color: #d9d9d9;
      opacity: 1;
      margin: 0;
      &.swiper-pagination-bullet-active {
        background-color: #333;
      }
      & + .swiper-pagination-bullet {
        margin-left: 0.8rem;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 0;
    border: 0.1rem solid #b4bdcd;
    background-color: $white-color;
    border-radius: 50%;
    box-shadow: 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.25);
    &:after {
      width: 2.4rem;
      height: 2.4rem;
      font-size: 0;
    }
    &:disabled {
      opacity: 0;
    }
  }
  .swiper-button-prev {
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7803 17.7803C15.0732 17.4874 15.0732 17.0126 14.7803 16.7197L10.4357 12.375L14.7803 8.03033C15.0732 7.73744 15.0732 7.26256 14.7803 6.96967C14.4874 6.67678 14.0126 6.67678 13.7197 6.96967L8.84467 11.8447C8.55178 12.1376 8.55178 12.6124 8.84467 12.9053L13.7197 17.7803C14.0126 18.0732 14.4874 18.0732 14.7803 17.7803Z' fill='%2366809D'/%3E%3C/svg%3E%0A");
    }
  }
  .swiper-button-next {
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.21967 6.21967C8.92678 6.51256 8.92678 6.98744 9.21967 7.28033L13.5643 11.625L9.21967 15.9697C8.92678 16.2626 8.92678 16.7374 9.21967 17.0303C9.51256 17.3232 9.98744 17.3232 10.2803 17.0303L15.1553 12.1553C15.4482 11.8624 15.4482 11.3876 15.1553 11.0947L10.2803 6.21967C9.98744 5.92678 9.51256 5.92678 9.21967 6.21967Z' fill='%2366809D'/%3E%3C/svg%3E%0A");
    }
  }
  .swiper-button-disabled {
    opacity: 0;
  }
}
/*** 스와이퍼 끝 ***/
