/*** 실손청구페이지 ***/

/* 실손청구 상세 조회 시작 */
.detail-range {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: $black-color;
  align-items: center;
  gap: 0 0.8rem;
}
/* 실손청구 상세 조회 끝 */

/* 지도 검색 시작 */
.search-info {
  margin-top: 2.4rem;
  .search-tit {
    @include font(1.5rem, 500, 2.4rem);
    color: $title-txt-color;
    strong {
      display: flex;
      font-weight: 700;
      color: #043cab;
      margin-bottom: 0.8rem;
    }
  }
  .search-condition {
    margin: 2.4rem -2rem 0;
    border-top: 0.1rem solid $primary-blue2;
    border-bottom: 0.1rem solid $primary-blue2;
    background-color: #f8fbff;
    padding: 2.4rem;
    dl {
      font-size: 1.4rem;
      & + dl {
        margin-top: 1.6rem;
      }
      dt {
        display: flex;
        font-weight: 400;
      }
      dd {
        margin-top: 0.4rem;
        font-weight: 400;
        color: #043cab;
      }
    }
  }
}
/* 지도 검색 끝 */

/* 보험사 아이템 시작 */
.insurance-list {
  margin-top: 2.4rem;
  .insurance-item {
    display: flex;
    // padding: 1.5rem 2rem;
    @include media-min-width(1024) {
      padding: 0;
    }
    border-radius: 1.2rem;
    .ico-bank {
      width: 4rem;
      height: 4rem;
      margin-right: 1.6rem;
      flex: 0 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .bank-info {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      .flex {
        align-items: center;
      }
      .name {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2rem;
        width: 100%;
        flex: 1 1 auto;
        @include media-min-width(1024) {
          line-height: 2.8rem;
        }
        color: $black-color;
      }
      .link-arrow {
        color: #444;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        width: auto !important;
        margin-left: 0;
        &::after {
          width: 1.6rem;
          height: 1.6rem;
          margin-left: 0;
        }
      }
    }
    .app-link {
      margin-top: 1.7rem;
      .badge-link {
        text-align: center;
        font-size: 0;
        border: 0.1rem solid #ddd;
        background-color: #f4f4f7;
        border-radius: 1.2rem;
        height: 5.2rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 11rem 2.8rem;
        max-width: 100%;
        &.btn-aos {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='28' viewBox='0 0 110 28' fill='none'%3E%3Cpath d='M37.5547 4.87249C37.5547 5.56885 37.3806 6.17816 36.9454 6.61339C36.4232 7.13566 35.8138 7.3968 35.0304 7.3968C34.247 7.3968 33.6377 7.13566 33.1154 6.61339C32.5932 6.09112 32.332 5.4818 32.332 4.6984C32.332 3.91499 32.5932 3.30568 33.1154 2.78341C33.6377 2.26114 34.247 2 35.0304 2C35.3786 2 35.7268 2.08704 36.075 2.26114C36.4232 2.43523 36.6843 2.60932 36.8584 2.87045L36.4231 3.30568C36.075 2.87045 35.6397 2.69636 35.0304 2.69636C34.5082 2.69636 33.9859 2.87045 33.6377 3.30568C33.2025 3.65386 33.0284 4.17613 33.0284 4.78544C33.0284 5.39476 33.2025 5.91703 33.6377 6.26521C34.0729 6.61339 34.5082 6.87453 35.0304 6.87453C35.6397 6.87453 36.075 6.70044 36.5102 6.26521C36.7713 6.00407 36.9454 5.65589 36.9454 5.22067H35.0304V4.52431H37.5547V4.87249ZM41.5588 2.69636H39.2086V4.35022H41.3847V4.95953H39.2086V6.61339H41.5588V7.30975H38.5122V2.08705H41.5588V2.69636ZM44.4313 7.30975H43.7349V2.69636H42.2552V2.08705H45.9111V2.69636H44.4313V7.30975ZM48.4354 7.30975V2.08705H49.1317V7.30975H48.4354ZM52.0913 7.30975H51.3949V2.69636H49.9151V2.08705H53.484V2.69636H52.0042V7.30975H52.0913ZM60.3605 6.61339C59.8383 7.13566 59.229 7.3968 58.4456 7.3968C57.6622 7.3968 57.0528 7.13566 56.5306 6.61339C56.0083 6.09112 55.7472 5.4818 55.7472 4.6984C55.7472 3.91499 56.0083 3.30568 56.5306 2.78341C57.0528 2.26114 57.6622 2 58.4456 2C59.229 2 59.8383 2.26114 60.3605 2.78341C60.8828 3.30568 61.144 3.91499 61.144 4.6984C61.144 5.4818 60.8828 6.09112 60.3605 6.61339ZM57.0528 6.17816C57.401 6.52634 57.9233 6.78748 58.4456 6.78748C58.9678 6.78748 59.4901 6.61339 59.8383 6.17816C60.1865 5.82998 60.4476 5.30771 60.4476 4.6984C60.4476 4.08908 60.2735 3.56681 59.8383 3.21863C59.4901 2.87045 58.9678 2.60932 58.4456 2.60932C57.9233 2.60932 57.401 2.78341 57.0528 3.21863C56.7047 3.56681 56.4435 4.08908 56.4435 4.6984C56.4435 5.30771 56.6176 5.82998 57.0528 6.17816ZM62.1014 7.30975V2.08705H62.8849L65.4092 6.17816V2.08705H66.1055V7.30975H65.4092L62.7108 3.04454V7.30975H62.1014Z' fill='%23333333' stroke='%23333333' stroke-width='0.17409' stroke-miterlimit='10'/%3E%3Cpath d='M55.5735 14.9695C53.4844 14.9695 51.8305 16.5363 51.8305 18.7125C51.8305 20.8016 53.4844 22.4554 55.5735 22.4554C57.6625 22.4554 59.3164 20.8886 59.3164 18.7125C59.3164 16.4493 57.6625 14.9695 55.5735 14.9695ZM55.5735 20.8886C54.4419 20.8886 53.4844 19.9311 53.4844 18.6254C53.4844 17.3198 54.4419 16.3623 55.5735 16.3623C56.705 16.3623 57.6625 17.2327 57.6625 18.6254C57.6625 19.9311 56.705 20.8886 55.5735 20.8886ZM47.4783 14.9695C45.3892 14.9695 43.7353 16.5363 43.7353 18.7125C43.7353 20.8016 45.3892 22.4554 47.4783 22.4554C49.5674 22.4554 51.2212 20.8886 51.2212 18.7125C51.2212 16.4493 49.5674 14.9695 47.4783 14.9695ZM47.4783 20.8886C46.3467 20.8886 45.3892 19.9311 45.3892 18.6254C45.3892 17.3198 46.3467 16.3623 47.4783 16.3623C48.6099 16.3623 49.5674 17.2327 49.5674 18.6254C49.5674 19.9311 48.6099 20.8886 47.4783 20.8886ZM37.8163 16.1011V17.6679H41.5592C41.4722 18.5384 41.124 19.2347 40.6888 19.67C40.1665 20.1922 39.296 20.8016 37.8163 20.8016C35.466 20.8016 33.7251 18.9736 33.7251 16.6234C33.7251 14.2732 35.5531 12.4452 37.8163 12.4452C39.0349 12.4452 39.9924 12.9675 40.6888 13.5768L41.8203 12.4452C40.8628 11.5748 39.6442 10.8784 37.9033 10.8784C34.7697 10.8784 32.0713 13.4898 32.0713 16.6234C32.0713 19.757 34.7697 22.3684 37.9033 22.3684C39.6442 22.3684 40.8628 21.8461 41.9074 20.7145C42.9519 19.67 43.3001 18.1902 43.3001 17.0586C43.3001 16.7104 43.3001 16.3623 43.2131 16.1011H37.8163ZM77.3347 17.3198C76.9865 16.4493 76.1161 14.9695 74.2011 14.9695C72.2861 14.9695 70.7193 16.4493 70.7193 18.7125C70.7193 20.8016 72.2861 22.4554 74.3752 22.4554C76.0291 22.4554 77.0736 21.4109 77.4218 20.8016L76.2031 19.9311C75.7679 20.5404 75.2456 20.9756 74.3752 20.9756C73.5047 20.9756 72.9825 20.6275 72.5473 19.8441L77.5088 17.755L77.3347 17.3198ZM72.2861 18.5384C72.2861 17.1457 73.4177 16.3623 74.2011 16.3623C74.8104 16.3623 75.4197 16.7104 75.5938 17.1457L72.2861 18.5384ZM68.195 22.1072H69.8489V11.2266H68.195V22.1072ZM65.5836 15.7529C65.1484 15.3177 64.4521 14.8825 63.5816 14.8825C61.7537 14.8825 60.0128 16.5363 60.0128 18.6254C60.0128 20.7145 61.6666 22.2813 63.5816 22.2813C64.4521 22.2813 65.1484 21.8461 65.4966 21.4109H65.5836V21.9331C65.5836 23.3259 64.8002 24.1093 63.5816 24.1093C62.6241 24.1093 61.9277 23.4129 61.7537 22.8036L60.3609 23.4129C60.7962 24.3704 61.8407 25.589 63.6687 25.589C65.5836 25.589 67.1505 24.4575 67.1505 21.7591V15.1436H65.5836V15.7529ZM63.6687 20.8886C62.5371 20.8886 61.5796 19.9311 61.5796 18.6254C61.5796 17.3198 62.5371 16.3623 63.6687 16.3623C64.8002 16.3623 65.6707 17.3198 65.6707 18.6254C65.6707 19.9311 64.8002 20.8886 63.6687 20.8886ZM84.9077 11.2266H80.9906V22.1072H82.6445V18.0161H84.9077C86.7356 18.0161 88.4765 16.7104 88.4765 14.6214C88.4765 12.5323 86.7356 11.2266 84.9077 11.2266ZM84.9947 16.4493H82.6445V12.7064H84.9947C86.2133 12.7064 86.9097 13.7509 86.9097 14.5343C86.8226 15.4918 86.1263 16.4493 84.9947 16.4493ZM95.0049 14.8825C93.7863 14.8825 92.5676 15.4048 92.1324 16.5363L93.6122 17.1457C93.9603 16.5363 94.4826 16.3623 95.0919 16.3623C95.9624 16.3623 96.7458 16.8845 96.8328 17.755V17.842C96.5717 17.6679 95.8753 17.4068 95.179 17.4068C93.6122 17.4068 92.0453 18.2772 92.0453 19.8441C92.0453 21.3238 93.351 22.2813 94.7437 22.2813C95.8753 22.2813 96.3976 21.7591 96.8328 21.2368H96.9199V22.1072H98.4867V17.9291C98.3126 16.0141 96.8328 14.8825 95.0049 14.8825ZM94.8308 20.8886C94.3085 20.8886 93.5251 20.6275 93.5251 19.9311C93.5251 19.0607 94.4826 18.7995 95.266 18.7995C95.9624 18.7995 96.3106 18.9736 96.7458 19.1477C96.5717 20.1922 95.7012 20.8886 94.8308 20.8886ZM103.971 15.1436L102.143 19.8441H102.056L100.14 15.1436H98.3996L101.272 21.7591L99.6183 25.4149H101.272L105.711 15.1436H103.971ZM89.347 22.1072H91.0008V11.2266H89.347V22.1072Z' fill='%23333333'/%3E%3Cpath d='M5.34818 2.52246C5.08704 2.7836 5 3.21882 5 3.74109V22.9781C5 23.5003 5.17409 23.9356 5.43523 24.1967L5.52227 24.2837L16.3159 13.4901V13.3161L5.34818 2.52246Z' fill='url(%23paint0_linear_2301_16718)'/%3E%3Cpath d='M19.7974 17.1457L16.2285 13.5768V13.3157L19.7974 9.74683L19.8844 9.83393L24.1496 12.2711C25.3682 12.9675 25.3682 14.0991 24.1496 14.7954L19.7974 17.1457Z' fill='url(%23paint1_linear_2301_16718)'/%3E%3Cpath d='M19.8842 17.0587L16.2283 13.4028L5.34766 24.2835C5.78289 24.7187 6.39221 24.7187 7.17561 24.3705L19.8842 17.0587Z' fill='url(%23paint2_linear_2301_16718)'/%3E%3Cpath d='M19.8842 9.747L7.17561 2.52222C6.39221 2.087 5.78289 2.17404 5.34766 2.60927L16.2283 13.4029L19.8842 9.747Z' fill='url(%23paint3_linear_2301_16718)'/%3E%3Cpath opacity='0.2' d='M19.7971 16.9717L7.17561 24.1094C6.47925 24.5446 5.86994 24.4576 5.43471 24.1094L5.34766 24.1964L5.43471 24.2835C5.86994 24.6316 6.47925 24.7187 7.17561 24.2835L19.7971 16.9717Z' fill='black'/%3E%3Cpath opacity='0.12' d='M5.34818 24.1094C5.08704 23.8482 5 23.413 5 22.8907V22.9778C5 23.5001 5.17409 23.9353 5.43523 24.1964V24.1094H5.34818ZM24.1499 14.5344L19.7977 16.9717L19.8847 17.0587L24.1499 14.6215C24.7592 14.2733 25.0204 13.8381 25.0204 13.4028C25.0204 13.8381 24.6722 14.1862 24.1499 14.5344Z' fill='black'/%3E%3Cpath opacity='0.25' d='M7.17613 2.60924L24.1499 12.2712C24.6722 12.6194 25.0204 12.9676 25.0204 13.4028C25.0204 12.9676 24.7592 12.5324 24.1499 12.1842L7.17613 2.52219C5.9575 1.82583 5 2.3481 5 3.74082V3.82787C5 2.52219 5.9575 1.91288 7.17613 2.60924Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2301_16718' x1='15.2713' y1='3.57571' x2='0.662542' y2='18.1836' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300A0FF'/%3E%3Cstop offset='0.007' stop-color='%2300A1FF'/%3E%3Cstop offset='0.26' stop-color='%2300BEFF'/%3E%3Cstop offset='0.512' stop-color='%2300D2FF'/%3E%3Cstop offset='0.76' stop-color='%2300DFFF'/%3E%3Cstop offset='1' stop-color='%2300E3FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_2301_16718' x1='25.746' y1='13.4036' x2='4.68372' y2='13.4036' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFE000'/%3E%3Cstop offset='0.409' stop-color='%23FFBD00'/%3E%3Cstop offset='0.775' stop-color='%23FFA500'/%3E%3Cstop offset='1' stop-color='%23FF9C00'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_2301_16718' x1='17.9056' y1='15.4014' x2='-1.90406' y2='35.2111' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF3A44'/%3E%3Cstop offset='1' stop-color='%23C31162'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_2301_16718' x1='2.64666' y1='-3.85296' x2='11.493' y2='4.99343' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2332A071'/%3E%3Cstop offset='0.069' stop-color='%232DA771'/%3E%3Cstop offset='0.476' stop-color='%2315CF74'/%3E%3Cstop offset='0.801' stop-color='%2306E775'/%3E%3Cstop offset='1' stop-color='%2300F076'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        }
        &.btn-ios {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='28' viewBox='0 0 110 28' fill='none'%3E%3Cpath d='M22.1024 12.8158C22.0771 10.0088 24.4014 8.6432 24.5076 8.5796C23.1913 6.661 21.1511 6.39885 20.4341 6.37795C18.7206 6.19767 17.0584 7.40302 16.1855 7.40302C15.2952 7.40302 13.951 6.39537 12.5023 6.42498C10.638 6.45372 8.89397 7.53279 7.93744 9.2084C5.96341 12.6251 7.43566 17.6459 9.32693 20.4076C10.273 21.7611 11.3785 23.2704 12.8255 23.2172C14.2411 23.1598 14.7699 22.3158 16.4782 22.3158C18.1709 22.3158 18.6674 23.2172 20.1432 23.1833C21.6625 23.1598 22.619 21.8246 23.532 20.4599C24.6253 18.9105 25.0643 17.3829 25.0817 17.3045C25.0469 17.2923 22.132 16.1793 22.1024 12.8158ZM19.3147 4.5612C20.0761 3.60928 20.597 2.31422 20.4524 1C19.3504 1.04877 17.9723 1.76206 17.1786 2.69307C16.4765 3.51348 15.8493 4.85819 16.0113 6.12277C17.2492 6.21508 18.5202 5.49831 19.3147 4.5612Z' fill='%23333333'/%3E%3Cpath d='M42.6067 23.0228H40.6284L39.5446 19.6184H35.7778L34.7455 23.0228H32.8193L36.5522 11.4326H38.8573L42.6067 23.0228ZM39.218 18.19L38.2379 15.1636C38.1342 14.8544 37.9391 14.1263 37.6534 12.9802H37.6185C37.5035 13.4731 37.3197 14.2012 37.0679 15.1636L36.1045 18.19H39.218ZM52.1877 18.7413C52.1877 20.1627 51.8018 21.2862 51.0291 22.1109C50.3374 22.8451 49.4775 23.2118 48.4522 23.2118C47.3449 23.2118 46.5487 22.8173 46.0652 22.0265V26.4116H44.2079V17.4123C44.2079 16.5196 44.1844 15.6043 44.1391 14.6654H45.7725L45.8762 15.9901H45.911C46.5304 14.992 47.4704 14.493 48.7318 14.493C49.718 14.493 50.5412 14.8823 51.1998 15.6618C51.8575 16.443 52.1877 17.4689 52.1877 18.7413ZM50.2955 18.8093C50.2955 17.9958 50.1126 17.3252 49.745 16.7966C49.3434 16.247 48.8041 15.9718 48.1281 15.9718C47.6699 15.9718 47.2535 16.1251 46.8815 16.4273C46.5086 16.7321 46.2647 17.1301 46.1506 17.6231C46.0997 17.8074 46.0707 17.9972 46.0643 18.1883V19.5827C46.0643 20.1897 46.2508 20.7027 46.6236 21.1224C46.9965 21.5405 47.4808 21.7504 48.0767 21.7504C48.7763 21.7504 49.3207 21.4795 49.7101 20.9422C50.1004 20.4031 50.2955 19.6924 50.2955 18.8093ZM61.8026 18.7413C61.8026 20.1627 61.4167 21.2862 60.644 22.1109C59.9514 22.8451 59.0925 23.2118 58.0662 23.2118C56.959 23.2118 56.1628 22.8173 55.6793 22.0265V26.4116H53.822V17.4123C53.822 16.5196 53.7984 15.6043 53.7531 14.6654H55.3866L55.4902 15.9901H55.5251C56.1436 14.992 57.0836 14.493 58.3459 14.493C59.3311 14.493 60.1544 14.8823 60.8147 15.6618C61.4716 16.443 61.8026 17.4689 61.8026 18.7413ZM59.9096 18.8093C59.9096 17.9958 59.7258 17.3252 59.3581 16.7966C58.9565 16.247 58.419 15.9718 57.743 15.9718C57.2848 15.9718 56.8684 16.1251 56.4947 16.4273C56.1218 16.7321 55.8788 17.1301 55.7646 17.6231C55.708 17.853 55.6775 18.0402 55.6775 18.1883V19.5827C55.6775 20.1897 55.8648 20.7027 56.2359 21.1224C56.6088 21.5396 57.0932 21.7504 57.6908 21.7504C58.3912 21.7504 58.9356 21.4795 59.3242 20.9422C59.7145 20.4031 59.9096 19.6924 59.9096 18.8093ZM72.5526 19.7716C72.5526 20.7584 72.2077 21.5605 71.5221 22.1797C70.7676 22.8556 69.7144 23.1944 68.3641 23.1944C67.1166 23.1944 66.1166 22.954 65.3621 22.4724L65.7916 20.9247C66.6061 21.4072 67.5008 21.6476 68.4748 21.6476C69.1752 21.6476 69.7196 21.4891 70.1082 21.1747C70.4976 20.8594 70.6945 20.4379 70.6945 19.9119C70.6945 19.4407 70.5316 19.0462 70.2118 18.7248C69.8904 18.4043 69.359 18.1056 68.6124 17.8312C66.5826 17.0744 65.5669 15.9675 65.5669 14.5113C65.5669 13.5602 65.9258 12.7816 66.6419 12.1728C67.3579 11.5649 68.3075 11.261 69.4888 11.261C70.5438 11.261 71.4228 11.4448 72.1205 11.8114L71.6545 13.3251C70.9976 12.9697 70.2563 12.7921 69.4269 12.7921C68.7718 12.7921 68.2579 12.9532 67.8902 13.2737C67.581 13.5602 67.4242 13.9095 67.4242 14.324C67.4242 14.7813 67.6027 15.161 67.9582 15.4588C68.2666 15.7332 68.8293 16.0319 69.643 16.3524C70.6413 16.7548 71.3748 17.2233 71.8444 17.7616C72.3174 18.2998 72.5526 18.9713 72.5526 19.7716ZM78.7091 16.0589H76.6619V20.1165C76.6619 21.1486 77.0225 21.6633 77.7456 21.6633C78.0775 21.6633 78.3528 21.6354 78.5706 21.5771L78.622 22.9871C78.2561 23.1238 77.7743 23.1926 77.1776 23.1926C76.4441 23.1926 75.8709 22.9688 75.4571 22.5211C75.045 22.0735 74.8377 21.3236 74.8377 20.2681V16.0554H73.6181V14.6619H74.8377V13.1317L76.6619 12.5813V14.6619H78.7091V16.0589ZM87.9276 18.7753C87.9276 20.0599 87.56 21.1146 86.8265 21.9394C86.059 22.7885 85.038 23.2118 83.7653 23.2118C82.5369 23.2118 81.5604 22.8051 80.8321 21.9925C80.1038 21.1782 79.7397 20.1522 79.7397 18.9147C79.7397 17.6196 80.116 16.5588 80.8661 15.734C81.6179 14.9084 82.6301 14.4956 83.9029 14.4956C85.1295 14.4956 86.1147 14.9032 86.8605 15.7166C87.5731 16.5057 87.9276 17.5247 87.9276 18.7753ZM86.0024 18.818C86.0024 18.0524 85.8369 17.3958 85.5049 16.8462C85.1155 16.1826 84.558 15.8507 83.8358 15.8507C83.0918 15.8507 82.5212 16.1826 82.1327 16.8462C81.7999 17.3958 81.6344 18.0638 81.6344 18.8528C81.6344 19.6192 81.7999 20.2776 82.1327 20.8255C82.5343 21.4891 83.0945 21.8209 83.8201 21.8209C84.5301 21.8209 85.0868 21.4821 85.4893 20.8089C85.8308 20.2463 86.0024 19.5853 86.0024 18.818ZM93.9673 16.2984C93.7742 16.2635 93.5782 16.2463 93.3819 16.247C92.7285 16.247 92.2233 16.4926 91.8678 16.9873C91.5595 17.4228 91.4044 17.9732 91.4044 18.6377V23.0228H89.5471V17.2973C89.5487 16.42 89.5307 15.5428 89.4931 14.6663H91.1108L91.1788 16.2653H91.2302C91.427 15.7158 91.7354 15.2725 92.1588 14.9406C92.5463 14.6507 93.0172 14.4937 93.5013 14.493C93.6729 14.493 93.8279 14.5052 93.9656 14.5269L93.9673 16.2984ZM102.274 18.4487C102.278 18.731 102.256 19.013 102.206 19.2909H96.6339C96.6548 20.1165 96.9249 20.7488 97.4424 21.1843C97.9119 21.5727 98.5191 21.7678 99.2648 21.7678C100.09 21.7678 100.843 21.6372 101.519 21.3733L101.81 22.6614C101.019 23.0062 100.085 23.1778 99.0078 23.1778C97.7115 23.1778 96.694 22.7964 95.9536 22.0352C95.2148 21.2731 94.8446 20.2489 94.8446 18.966C94.8446 17.7067 95.1887 16.6572 95.8778 15.8203C96.5991 14.9267 97.5739 14.4799 98.8005 14.4799C100.005 14.4799 100.917 14.9267 101.537 15.8203C102.027 16.5283 102.274 17.4062 102.274 18.4487ZM100.503 17.9671C100.516 17.4158 100.394 16.9411 100.142 16.5396C99.8206 16.0223 99.3258 15.7645 98.6628 15.7645C98.0556 15.7645 97.5608 16.0162 97.1845 16.5214C96.8752 16.9229 96.6914 17.4053 96.6348 17.9653L100.503 17.9671Z' fill='%23333333'/%3E%3Cpath d='M35.2417 7.3347C34.7251 7.3347 34.2783 7.30944 33.9062 7.26677V1.66325C34.4265 1.5829 34.9522 1.5433 35.4787 1.5448C37.6086 1.5448 38.5896 2.59252 38.5896 4.3004C38.5896 6.27043 37.4309 7.3347 35.2417 7.3347ZM35.5536 2.26332C35.2661 2.26332 35.0214 2.28073 34.8184 2.32254V6.58222C34.9282 6.59964 35.139 6.60748 35.4352 6.60748C36.8307 6.60748 37.6253 5.8132 37.6253 4.32566C37.6253 2.99924 36.9065 2.26332 35.5536 2.26332ZM41.6465 7.37737C40.4461 7.37737 39.668 6.48119 39.668 5.26451C39.668 3.99645 40.4626 3.09243 41.7145 3.09243C42.8975 3.09243 43.6928 3.94594 43.6928 5.19745C43.6928 6.48119 42.873 7.37737 41.6465 7.37737ZM41.6814 3.75956C41.0219 3.75956 40.5993 4.37617 40.5993 5.23839C40.5993 6.08405 41.0305 6.70066 41.6726 6.70066C42.3146 6.70066 42.7458 6.04138 42.7458 5.22097C42.7458 4.38488 42.3234 3.75956 41.6814 3.75956ZM50.5383 3.17691L49.2533 7.28418H48.4162L47.8839 5.50053C47.7515 5.06424 47.6413 4.62154 47.5537 4.17412H47.5364C47.4693 4.62177 47.3421 5.0703 47.2071 5.50053L46.6409 7.28418H45.7949L44.5858 3.17691H45.5239L45.9892 5.12952C46.099 5.59459 46.1912 6.03354 46.2679 6.4481H46.2854C46.3525 6.10234 46.4622 5.67036 46.6233 5.13823L47.2071 3.17778H47.951L48.5094 5.09643C48.6444 5.5615 48.7542 6.01786 48.8396 6.44897H48.8639C48.9232 6.02657 49.0164 5.57805 49.1427 5.09643L49.6419 3.17778L50.5383 3.17691ZM55.2687 7.28418H54.3558V4.92573C54.3558 4.19938 54.0769 3.83533 53.5272 3.83533C52.9862 3.83533 52.6143 4.3004 52.6143 4.84125V7.28418H51.7014V4.35092C51.7014 3.98774 51.6926 3.59844 51.6674 3.17604H52.4706L52.5132 3.81007H52.5386C52.7842 3.37113 53.2825 3.09243 53.8409 3.09243C54.7034 3.09243 55.2696 3.75172 55.2696 4.8247L55.2687 7.28418ZM57.7864 7.28418H56.8724V1.29224H57.7864V7.28418ZM61.1151 7.37737C59.9155 7.37737 59.1367 6.48119 59.1367 5.26451C59.1367 3.99645 59.9311 3.09243 61.182 3.09243C62.3659 3.09243 63.1604 3.94594 63.1604 5.19745C63.1614 6.48119 62.3408 7.37737 61.1151 7.37737ZM61.1489 3.75956C60.4895 3.75956 60.0671 4.37617 60.0671 5.23839C60.0671 6.08405 60.4991 6.70066 61.1395 6.70066C61.7824 6.70066 62.2127 6.04138 62.2127 5.22097C62.2136 4.38488 61.7918 3.75956 61.1489 3.75956ZM66.76 7.28418L66.6938 6.81127H66.6694C66.3907 7.19187 65.9838 7.37737 65.4681 7.37737C64.732 7.37737 64.2094 6.86179 64.2094 6.16853C64.2094 5.15478 65.0884 4.63048 66.6103 4.63048V4.55471C66.6103 4.01387 66.3236 3.74301 65.7573 3.74301C65.3523 3.74301 64.9969 3.84491 64.6842 4.04784L64.4986 3.44777C64.8784 3.21088 65.3524 3.09243 65.909 3.09243C66.9823 3.09243 67.524 3.65853 67.524 4.7916V6.3044C67.524 6.71895 67.5424 7.04033 67.5834 7.28505L66.76 7.28418ZM66.6347 5.23839C65.6207 5.23839 65.1118 5.48399 65.1118 6.06663C65.1118 6.49774 65.3741 6.7085 65.7383 6.7085C66.2025 6.7085 66.6347 6.35404 66.6347 5.87242V5.23839ZM71.9574 7.28418L71.9146 6.6249H71.8895C71.6273 7.12306 71.1864 7.37737 70.5705 7.37737C69.58 7.37737 68.8465 6.50645 68.8465 5.28106C68.8465 3.99645 69.607 3.09156 70.6454 3.09156C71.1951 3.09156 71.5845 3.27707 71.804 3.64982H71.8223V1.29224H72.7362V6.17724C72.7362 6.57438 72.7458 6.94627 72.7701 7.28418H71.9574ZM71.8223 4.86737C71.8223 4.29256 71.4417 3.80224 70.8606 3.80224C70.1838 3.80224 69.77 4.4023 69.77 5.2471C69.77 6.07534 70.1994 6.64231 70.8423 6.64231C71.4164 6.64231 71.8223 6.14328 71.8223 5.55192V4.86737ZM78.5303 7.37737C77.3307 7.37737 76.5527 6.48119 76.5527 5.26451C76.5527 3.99645 77.3473 3.09243 78.5982 3.09243C79.7821 3.09243 80.5766 3.94594 80.5766 5.19745C80.5775 6.48119 79.7577 7.37737 78.5303 7.37737ZM78.5642 3.75956C77.9056 3.75956 77.4831 4.37617 77.4831 5.23839C77.4831 6.08405 77.9143 6.70066 78.5555 6.70066C79.1984 6.70066 79.6288 6.04138 79.6288 5.22097C79.6306 4.38488 79.2079 3.75956 78.5642 3.75956ZM85.4864 7.28418H84.5725V4.92573C84.5725 4.19938 84.2938 3.83533 83.744 3.83533C83.2031 3.83533 82.8319 4.3004 82.8319 4.84125V7.28418H81.9182V4.35092C81.9182 3.98774 81.9094 3.59844 81.8841 3.17604H82.6873L82.73 3.81007H82.7553C83.0001 3.37113 83.4992 3.09156 84.0568 3.09156C84.9192 3.09156 85.4864 3.75085 85.4864 4.82383V7.28418ZM91.6289 3.86146H90.6245V5.85587C90.6245 6.36362 90.8005 6.61706 91.1559 6.61706C91.3171 6.61706 91.4521 6.59964 91.561 6.57438L91.5863 7.26764C91.4094 7.33557 91.1725 7.36953 90.878 7.36953C90.1584 7.36953 89.7281 6.97239 89.7281 5.93251V3.86146H89.1286V3.17691H89.7281V2.42444L90.6245 2.15358V3.17604H91.6289V3.86146ZM96.4621 7.28418H95.5499V4.94314C95.5499 4.20809 95.272 3.8362 94.7215 3.8362C94.2485 3.8362 93.8076 4.15757 93.8076 4.80815V7.28418H92.8956V1.29224H93.8076V3.75956H93.826C94.1134 3.31191 94.5299 3.09156 95.0612 3.09156C95.9306 3.09156 96.4621 3.7674 96.4621 4.84125V7.28418ZM101.414 5.45002H98.674C98.6914 6.22775 99.2062 6.6667 99.9685 6.6667C100.374 6.6667 100.746 6.59877 101.076 6.47248L101.218 7.10652C100.829 7.27547 100.372 7.35995 99.8395 7.35995C98.5545 7.35995 97.7941 6.54825 97.7941 5.28977C97.7941 4.03042 98.5728 3.08372 99.7367 3.08372C100.786 3.08372 101.446 3.86146 101.446 5.03633C101.451 5.17498 101.441 5.31384 101.414 5.45002ZM100.577 4.79944C100.577 4.16541 100.257 3.71776 99.6731 3.71776C99.1487 3.71776 98.7341 4.17412 98.6748 4.79944H100.577Z' fill='%23333333'/%3E%3C/svg%3E");
        }
        & + .badge-link {
          margin-left: 0.8rem;
        }
      }
    }
    & + .insurance-item {
      margin-top: 4rem;
    }
  }
  & + .btn.w-full {
    margin-top: 4rem;
  }
}
.insurance-name {
  display: flex;
  align-items: center;
  // padding: 0.9rem 2rem;
  margin-bottom: 2.4rem;
  .ico-bank {
    display: block;
    width: 4rem;
    height: 4rem;
    margin-right: 1.6rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  strong {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2rem;
  }
}
/* 보험사 아이템 끝 */

/* 지급계좌 선택 팝업 시작 */
.bankList-wrap {
  padding-top: 1.8rem;
  ul {
    font-size: 0;
    margin: 0 -0.6rem;
    li {
      display: inline-block;
      width: 33.333%;
      padding: 0.6rem;
    }
    .bank-item {
      position: relative;
      cursor: pointer;
      input {
        position: absolute;
        width: 0.1rem;
        height: 0.1rem;
        &:focus {
          outline: none !important;
        }
        &:checked + .item-wrap {
          border: 0.1rem solid $primary-blue4;
        }
      }
      .item-wrap {
        border-radius: 1.2rem;
        background-color: #f9f9fb;
        padding: 1rem;
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
        .ico-bank {
          width: 4rem;
          height: 4rem;
          display: block;
          margin: auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .bank-name {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 2.4rem;
          color: $base-txt-color;
          display: block;
          margin-top: 0.7rem;
        }
      }
      input:focus + .item-wrap {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          border-radius: 0.3rem;
          outline: 0.1rem dashed $error-color;
        }
      }
    }
  }
}
/* 지급계좌 선택 팝업 끝 */
