.btn-login-group {
  position: relative;
  display: inline-block;
}

.btn-login {
  padding: 0 1.6rem 0 2rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  height: 5.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #d9d9d9;
  @include font(1.8rem, 600, 2.8rem);
  color: $black-color;
  &.circle {
    margin: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;
    gap: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
  }
  strong {
    flex: 1;
  }
  &:before {
    content: '';
    width: 3.2rem;
    height: 3.2rem;
    flex: 0 0 auto;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &.kakao:before {
    background-image: url(../img/ico/ico_kakao.png);
  }
  &.naver:before {
    background-image: url(../img/ico/ico_naver.png);
  }
  &.toss:before {
    background-image: url(../img/ico/ico_toss.png);
  }
  &.google:before {
    background-image: url(../img/ico/ico_google.png);
  }
  &.apple:before {
    background-image: url(../img/ico/ico_apple.png);
  }
  &.phone:before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.25 9.25C9.25 7.59315 10.5931 6.25 12.25 6.25H19.75C21.4069 6.25 22.75 7.59315 22.75 9.25V22.75C22.75 24.4069 21.4069 25.75 19.75 25.75H12.25C10.5931 25.75 9.25 24.4069 9.25 22.75V9.25Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.75 7.75H12.25C11.4216 7.75 10.75 8.42157 10.75 9.25V22.75C10.75 23.5784 11.4216 24.25 12.25 24.25H19.75C20.5784 24.25 21.25 23.5784 21.25 22.75V9.25C21.25 8.42157 20.5784 7.75 19.75 7.75ZM12.25 6.25C10.5931 6.25 9.25 7.59315 9.25 9.25V22.75C9.25 24.4069 10.5931 25.75 12.25 25.75H19.75C21.4069 25.75 22.75 24.4069 22.75 22.75V9.25C22.75 7.59315 21.4069 6.25 19.75 6.25H12.25Z' fill='%238C9BAE'/%3E%3Cpath d='M13.75 7H18.25V8.125C18.25 8.53921 17.9142 8.875 17.5 8.875H14.5C14.0858 8.875 13.75 8.53921 13.75 8.125V7Z' fill='%238C9BAE'/%3E%3Cpath d='M16.9711 13.9017V13.368C16.9711 12.8521 16.5455 12.434 16.0205 12.434C15.4954 12.434 15.0698 12.8521 15.0698 13.368V13.9017H14.1191V13.368C14.1191 12.3363 14.9704 11.5 16.0205 11.5C17.0705 11.5 17.9218 12.3363 17.9218 13.368V13.9017H16.9711Z' fill='%23C3CFDE'/%3E%3Cpath d='M13 17.1474C13 18.7896 15.1962 19.9996 16.0197 19.9996C16.8433 19.9996 19.0395 18.7896 19.0395 17.1474C19.0395 16.2829 19.0395 15.5006 19.0395 14.9535C19.0395 14.4803 18.73 14.0619 18.2743 13.9184L16.5191 13.3658C16.1942 13.2635 15.8452 13.2635 15.5203 13.3658L13.7651 13.9184C13.3095 14.0619 13 14.4803 13 14.9535C13 15.5006 13 16.2829 13 17.1474Z' fill='%2378AFFF'/%3E%3Cpath d='M16.8021 16.0856C16.8021 16.518 16.4516 16.8685 16.0192 16.8685C15.5868 16.8685 15.2363 16.518 15.2363 16.0856C15.2363 15.6532 15.5868 15.3027 16.0192 15.3027C16.4516 15.3027 16.8021 15.6532 16.8021 16.0856Z' fill='%230452C3'/%3E%3Cpath d='M15.6837 16.7567C15.6837 16.5714 15.8339 16.4212 16.0192 16.4212C16.2045 16.4212 16.3547 16.5714 16.3547 16.7567V17.6514C16.3547 17.8367 16.2045 17.9869 16.0192 17.9869C15.8339 17.9869 15.6837 17.8367 15.6837 17.6514V16.7567Z' fill='%230452C3'/%3E%3C/svg%3E%0A");
  }
  &.old-cert:before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5471 11.7995V10.6507C17.5471 9.54036 16.6309 8.64028 15.5008 8.64028C14.3707 8.64028 13.4545 9.54036 13.4545 10.6507V11.7995H11.4082V10.6507C11.4082 8.43005 13.2405 6.62988 15.5008 6.62988C17.7611 6.62988 19.5934 8.43005 19.5934 10.6507V11.7995H17.5471Z' fill='%23C3CFDE'/%3E%3Cpath d='M9 18.7865C9 22.3213 13.7273 24.9259 15.5 24.9259C17.2727 24.9259 22 22.3213 22 18.7865C22 16.9258 22 15.2418 22 14.0641C22 13.0456 21.3339 12.1449 20.353 11.8361L16.575 10.6466C15.8756 10.4264 15.1244 10.4264 14.425 10.6466L10.647 11.8361C9.66612 12.1449 9 13.0456 9 14.0641C9 15.2418 9 16.9258 9 18.7865Z' fill='%2378AFFF'/%3E%3Cpath d='M17.1848 16.5006C17.1848 17.4313 16.4303 18.1858 15.4996 18.1858C14.5689 18.1858 13.8145 17.4313 13.8145 16.5006C13.8145 15.5699 14.5689 14.8154 15.4996 14.8154C16.4303 14.8154 17.1848 15.5699 17.1848 16.5006Z' fill='%230452C3'/%3E%3Cpath d='M14.7774 17.9451C14.7774 17.5462 15.1008 17.2228 15.4996 17.2228C15.8985 17.2228 16.2219 17.5462 16.2219 17.9451V19.871C16.2219 20.2699 15.8985 20.5932 15.4996 20.5932C15.1008 20.5932 14.7774 20.2699 14.7774 19.871V17.9451Z' fill='%230452C3'/%3E%3C/svg%3E%0A");
  }
  &.financial-cert:before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.2292 7C21.2417 7 22.0625 7.82081 22.0625 8.83333L22.0625 22.328C22.0625 23.3405 21.2417 24.1613 20.2292 24.1613H10.8333C9.82081 24.1613 9 23.3405 9 22.328L9 8.83333C9 7.82081 9.82081 7 10.8333 7L20.2292 7Z' fill='%23D7DBE7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.9613 10.0645C19.2998 10.0645 19.5742 10.3389 19.5742 10.6774C19.5742 11.0159 19.2998 11.2903 18.9613 11.2903L12.1008 11.2903C11.7623 11.2903 11.4879 11.0159 11.4879 10.6774C11.4879 10.3389 11.7623 10.0645 12.1008 10.0645L18.9613 10.0645Z' fill='%23AEB5C5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7172 13.1289C18.0557 13.1289 18.3301 13.4033 18.3301 13.7418C18.3301 14.0803 18.0557 14.3547 17.7172 14.3547H13.3448C13.0063 14.3547 12.7319 14.0803 12.7319 13.7418C12.7319 13.4033 13.0063 13.1289 13.3448 13.1289L17.7172 13.1289Z' fill='%23AEB5C5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.9531 22.3223L22.6853 22.3223V24.7255C22.6853 25.2725 22.0775 25.6004 21.6203 25.3001L20.8192 24.7739L20.0181 25.3001C19.5609 25.6004 18.9531 25.2725 18.9531 24.7255V22.3223Z' fill='%230452C3'/%3E%3Cellipse cx='20.8191' cy='20.4835' rx='3.11012' ry='3.06452' fill='%2378AFFF'/%3E%3C/svg%3E%0A");
  }
  &.self-kakao:before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.25 9.25C9.25 7.59315 10.5931 6.25 12.25 6.25H19.75C21.4069 6.25 22.75 7.59315 22.75 9.25V22.75C22.75 24.4069 21.4069 25.75 19.75 25.75H12.25C10.5931 25.75 9.25 24.4069 9.25 22.75V9.25Z' fill='%23EAF2FE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.75 7.75H12.25C11.4216 7.75 10.75 8.42157 10.75 9.25V22.75C10.75 23.5784 11.4216 24.25 12.25 24.25H19.75C20.5784 24.25 21.25 23.5784 21.25 22.75V9.25C21.25 8.42157 20.5784 7.75 19.75 7.75ZM12.25 6.25C10.5931 6.25 9.25 7.59315 9.25 9.25V22.75C9.25 24.4069 10.5931 25.75 12.25 25.75H19.75C21.4069 25.75 22.75 24.4069 22.75 22.75V9.25C22.75 7.59315 21.4069 6.25 19.75 6.25H12.25Z' fill='%23566476'/%3E%3Cpath d='M13.75 7H18.25V8.125C18.25 8.53921 17.9142 8.875 17.5 8.875H14.5C14.0858 8.875 13.75 8.53921 13.75 8.125V7Z' fill='%23566476'/%3E%3C/svg%3E%0A");
  }
  &.self-old-cert:before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.88245 21.8035C4.91092 23.6197 6.01738 24.5782 6.69205 24.8304C15.7598 26.9493 22.0745 25.7133 24.0984 24.8304C24.7731 24.7043 25.9605 23.9224 25.3128 21.8035C24.5032 19.155 20.0504 16.8848 15.1927 16.8848C10.3351 16.8848 7.09685 19.5333 5.88245 21.8035Z' fill='%23438CF9'/%3E%3Cellipse cx='15.7794' cy='10.8374' rx='4.82429' ry='4.83739' fill='%23438CF9'/%3E%3C/svg%3E%0A");
  }
  &.self-financial-cert:before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11C7 9.61929 8.11929 8.5 9.5 8.5H21.5C22.8807 8.5 24 9.61929 24 11V23C24 24.3807 22.8807 25.5 21.5 25.5H9.5C8.11929 25.5 7 24.3807 7 23V11Z' fill='%23DEE7F5'/%3E%3Crect opacity='0.7' x='9.5' y='6.5' width='12' height='14.5' rx='4' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.0923 20.9584C10.8895 20.9164 10.7987 20.6932 10.8781 20.5018C10.9574 20.3105 11.1782 20.226 11.3844 20.2448C11.4224 20.2482 11.4609 20.25 11.5 20.25H11.7917C11.9988 20.25 12.1667 20.4179 12.1667 20.625C12.1667 20.8321 11.9988 21 11.7917 21H11.5C11.3603 21 11.2239 20.9857 11.0923 20.9584ZM19.2083 21C19.0012 21 18.8333 20.8321 18.8333 20.625C18.8333 20.4179 19.0012 20.25 19.2083 20.25H19.5C19.5391 20.25 19.5776 20.2482 19.6156 20.2448C19.8218 20.226 20.0426 20.3105 20.1219 20.5018C20.2013 20.6932 20.1105 20.9164 19.9077 20.9584C19.7761 20.9857 19.6397 21 19.5 21H19.2083ZM21.5 8.78125C21.5 8.98836 21.3321 9.15625 21.125 9.15625C20.9179 9.15625 20.75 8.98836 20.75 8.78125V8.5C20.75 8.46095 20.7482 8.42241 20.7448 8.38444C20.726 8.17819 20.8105 7.9574 21.0018 7.87807C21.1932 7.79874 21.4164 7.88949 21.4584 8.09229C21.4857 8.22392 21.5 8.36029 21.5 8.5V8.78125ZM12.1667 6.875C12.1667 6.66789 11.9988 6.5 11.7917 6.5H11.5C11.3603 6.5 11.2239 6.51433 11.0923 6.54159C10.8895 6.58359 10.7987 6.80685 10.8781 6.99816C10.9574 7.18947 11.1782 7.27398 11.3844 7.25522C11.4224 7.25177 11.4609 7.25 11.5 7.25H11.7917C11.9988 7.25 12.1667 7.08211 12.1667 6.875ZM9.5 18.7188C9.5 18.5116 9.66789 18.3438 9.875 18.3438C10.0821 18.3438 10.25 18.5116 10.25 18.7188V19C10.25 19.0391 10.2518 19.0776 10.2552 19.1156C10.274 19.3218 10.1895 19.5426 9.99816 19.6219C9.80685 19.7013 9.58359 19.6105 9.54159 19.4077C9.51433 19.2761 9.5 19.1397 9.5 19V18.7188ZM9.5 16.6562C9.5 16.8634 9.66789 17.0312 9.875 17.0312C10.0821 17.0312 10.25 16.8634 10.25 16.6562V16.0938C10.25 15.8866 10.0821 15.7188 9.875 15.7188C9.66789 15.7188 9.5 15.8866 9.5 16.0938V16.6562ZM9.5 14.0312C9.5 14.2384 9.66789 14.4062 9.875 14.4062C10.0821 14.4062 10.25 14.2384 10.25 14.0312V13.4688C10.25 13.2616 10.0821 13.0938 9.875 13.0938C9.66789 13.0938 9.5 13.2616 9.5 13.4688V14.0312ZM9.5 11.4062C9.5 11.6134 9.66789 11.7812 9.875 11.7812C10.0821 11.7812 10.25 11.6134 10.25 11.4062V10.8438C10.25 10.6366 10.0821 10.4688 9.875 10.4688C9.66789 10.4688 9.5 10.6366 9.5 10.8438V11.4062ZM9.5 8.78125C9.5 8.98836 9.66789 9.15625 9.875 9.15625C10.0821 9.15625 10.25 8.98836 10.25 8.78125V8.5C10.25 8.46095 10.2518 8.42241 10.2552 8.38444C10.274 8.17819 10.1895 7.9574 9.99816 7.87807C9.80685 7.79874 9.58359 7.88949 9.54159 8.09229C9.51433 8.22392 9.5 8.36029 9.5 8.5V8.78125ZM13.875 6.5C13.6679 6.5 13.5 6.66789 13.5 6.875C13.5 7.08211 13.6679 7.25 13.875 7.25H14.4583C14.6654 7.25 14.8333 7.08211 14.8333 6.875C14.8333 6.66789 14.6654 6.5 14.4583 6.5H13.875ZM16.5417 6.5C16.3346 6.5 16.1667 6.66789 16.1667 6.875C16.1667 7.08211 16.3346 7.25 16.5417 7.25H17.125C17.3321 7.25 17.5 7.08211 17.5 6.875C17.5 6.66789 17.3321 6.5 17.125 6.5H16.5417ZM19.2083 6.5C19.0012 6.5 18.8333 6.66789 18.8333 6.875C18.8333 7.08211 19.0012 7.25 19.2083 7.25H19.5C19.5391 7.25 19.5776 7.25177 19.6156 7.25522C19.8218 7.27398 20.0426 7.18947 20.1219 6.99816C20.2013 6.80685 20.1105 6.58359 19.9077 6.54159C19.7761 6.51433 19.6397 6.5 19.5 6.5H19.2083ZM21.5 10.8438C21.5 10.6366 21.3321 10.4688 21.125 10.4688C20.9179 10.4688 20.75 10.6366 20.75 10.8438V11.4062C20.75 11.6134 20.9179 11.7812 21.125 11.7812C21.3321 11.7812 21.5 11.6134 21.5 11.4062V10.8438ZM21.5 13.4688C21.5 13.2616 21.3321 13.0938 21.125 13.0938C20.9179 13.0938 20.75 13.2616 20.75 13.4688V14.0312C20.75 14.2384 20.9179 14.4062 21.125 14.4062C21.3321 14.4062 21.5 14.2384 21.5 14.0312V13.4688ZM21.5 16.0938C21.5 15.8866 21.3321 15.7188 21.125 15.7188C20.9179 15.7188 20.75 15.8866 20.75 16.0938V16.6562C20.75 16.8634 20.9179 17.0312 21.125 17.0312C21.3321 17.0312 21.5 16.8634 21.5 16.6562V16.0938ZM21.5 18.7188C21.5 18.5116 21.3321 18.3438 21.125 18.3438C20.9179 18.3438 20.75 18.5116 20.75 18.7188V19C20.75 19.0391 20.7482 19.0776 20.7448 19.1156C20.726 19.3218 20.8105 19.5426 21.0018 19.6219C21.1932 19.7013 21.4164 19.6105 21.4584 19.4077C21.4857 19.2761 21.5 19.1397 21.5 19V18.7188ZM17.125 21C17.3321 21 17.5 20.8321 17.5 20.625C17.5 20.4179 17.3321 20.25 17.125 20.25H16.5417C16.3346 20.25 16.1667 20.4179 16.1667 20.625C16.1667 20.8321 16.3346 21 16.5417 21H17.125ZM14.4583 21C14.6654 21 14.8333 20.8321 14.8333 20.625C14.8333 20.4179 14.6654 20.25 14.4583 20.25H13.875C13.6679 20.25 13.5 20.4179 13.5 20.625C13.5 20.8321 13.6679 21 13.875 21H14.4583Z' fill='%23C6D5EB'/%3E%3Cpath d='M12.5151 15C12.6063 15 12.6791 15.0744 12.6941 15.1644L12.8607 16.1644C12.9411 16.6466 13.3583 17 13.8471 17H17.1529C17.6417 17 18.0589 16.6466 18.1393 16.1644L18.3059 15.1644C18.3209 15.0744 18.3937 15 18.4849 15H23C23.5523 15 24 15.4477 24 16V23C24 24.3807 22.8807 25.5 21.5 25.5H9.5C8.11929 25.5 7 24.3807 7 23V16C7 15.4477 7.44772 15 8 15H12.5151Z' fill='%23C6D5EB'/%3E%3C/svg%3E%0A");
  }
  &.self-simple-cert:before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='10' fill='%232E7FF8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 21C16.4142 21 16.75 20.6565 16.75 20.2328V20.2225C16.75 19.7987 16.4142 19.4553 16 19.4553C15.5858 19.4553 15.25 19.7987 15.25 20.2225V20.2328C15.25 20.6565 15.5858 21 16 21ZM16 18.0018C16.4142 18.0018 16.75 17.6583 16.75 17.2346V11.7672C16.75 11.3435 16.4142 11 16 11C15.5858 11 15.25 11.3435 15.25 11.7672V17.2346C15.25 17.6583 15.5858 18.0018 16 18.0018Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}

.easy-login-btns {
  margin-top: 3.2rem;
  .btn-login {
    margin-top: 1.2rem;
  }
}

.easy-login-icons {
  position: relative;
  > ul {
    margin-top: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
}
.last-loginAccount {
  @include font(1.3rem, 500, 2rem);
  i {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    @include text-blind;
  }
  position: absolute;
  top: 6.5rem;
  left: 1rem;
  padding: 0.2rem 0.8rem;
  color: #27a1a9;
  background-color: #d9f2f3;
  text-wrap: nowrap;
  border-radius: 1.3rem;
  &:before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.2rem;
    position: absolute;
    top: -1.1rem;
    left: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 0.0004282L15.5 12.5004C15.5 13.0004 1.94274e-08 12.5004 1.94274e-08 12.5004L15.5 0.0004282Z' fill='%23D9F2F3'/%3E%3C/svg%3E%0A");
  }
}

.last-3,
.last-4 {
  .last-loginAccount {
    left: auto;
    right: 0;
    &:before {
      left: auto;
      right: 1rem;
      transform: scaleX(-1);
    }
  }
}

.btn-search-id {
  @include font(1.6rem, 500, 2.4rem);
  color: $text-body-color;
  display: inline-block;
  &:after {
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    margin-left: 0.4rem;
    margin-top: -0.3rem;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.52925 13.1377C5.2689 12.8774 5.2689 12.4553 5.52925 12.1949L9.72451 7.99967L5.52925 3.80441C5.2689 3.54406 5.2689 3.12195 5.52925 2.8616C5.7896 2.60125 6.21171 2.60125 6.47206 2.8616L11.1387 7.52827C11.3991 7.78862 11.3991 8.21073 11.1387 8.47108L6.47206 13.1377C6.21171 13.3981 5.7896 13.3981 5.52925 13.1377Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  }
}

.form-wrap.login-form {
  margin: 2.4rem 0 3.2rem;
}

.pwd-login-wrap {
  margin-top: 4rem;
  text-align: center;
  .txt {
    @include font(1.4rem, 400, 2rem);
    color: $error-color;
    margin-top: 3rem;
    & + button {
      margin-top: 2.4rem;
    }
  }
}

.visual-import {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  max-width: 32rem;
  padding: 2.4rem 0;
  & > span {
    position: relative;
    padding-top: 7.9rem;
    text-align: center;
    display: inline-block;
    width: 12rem;
    height: 12rem;
    border: 0.1rem solid #e1eaf7;
    background-color: #f8fbff;
    border-radius: 2rem;
    @include font(1.4rem, 400, 2.8rem);
    color: $text-body-color;
    &:before {
      content: '';
      display: inline-block;
      width: 4.8rem;
      height: 4.8rem;
      top: 2.3rem;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }
    &.pc:before {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 32.7303V7.17462C4 5.42858 5.40625 4 7.125 4H40.875C42.5938 4 44 5.42858 44 7.17462V32.7303' fill='%238C9BAE'/%3E%3Cpath d='M39.0293 7.07715H9.0293C7.92473 7.07715 7.0293 7.97258 7.0293 9.07715V27.0771C7.0293 28.1817 7.92473 29.0771 9.0293 29.0771H39.0293C40.1339 29.0771 41.0293 28.1817 41.0293 27.0771V9.07715C41.0293 7.97258 40.1339 7.07715 39.0293 7.07715Z' fill='white'/%3E%3Cpath d='M44 32.7183V35.0171C44 36.1166 42.5938 37.0161 40.875 37.0161H7.125C5.40625 37.0161 4 36.1166 4 35.0171V32.7183' fill='%23C3CFDE'/%3E%3Cpath d='M29.7031 37.0161H18.2969V43.2066H29.7031V37.0161Z' fill='%23C3CFDE'/%3E%3Cpath d='M32 42.4126H16V43.9999H32V42.4126Z' fill='%23C3CFDE'/%3E%3Cpath d='M26.1514 14.0549V12.9602C26.1514 11.902 25.2919 11.0443 24.2318 11.0443C23.1716 11.0443 22.3122 11.902 22.3122 12.9602V14.0549H20.3926V12.9602C20.3926 10.8439 22.1114 9.12842 24.2318 9.12842C26.3521 9.12842 28.071 10.8439 28.071 12.9602V14.0549H26.1514Z' fill='%23C3CFDE'/%3E%3Cpath d='M18.1348 20.7138C18.1348 24.0825 22.5693 26.5646 24.2323 26.5646C25.8953 26.5646 30.3299 24.0825 30.3299 20.7138C30.3299 18.9406 30.3299 17.3359 30.3299 16.2135C30.3299 15.2429 29.705 14.3845 28.7848 14.0902L25.2407 12.9567C24.5847 12.7469 23.88 12.7469 23.2239 12.9567L19.6798 14.0902C18.7596 14.3845 18.1348 15.2429 18.1348 16.2135C18.1348 17.3359 18.1348 18.9406 18.1348 20.7138Z' fill='%2378AFFF'/%3E%3Cpath d='M25.814 18.5347C25.814 19.4216 25.1063 20.1406 24.2332 20.1406C23.3601 20.1406 22.6523 19.4216 22.6523 18.5347C22.6523 17.6477 23.3601 16.9287 24.2332 16.9287C25.1063 16.9287 25.814 17.6477 25.814 18.5347Z' fill='%230452C3'/%3E%3Cpath d='M23.5557 19.9112C23.5557 19.5311 23.859 19.2229 24.2332 19.2229C24.6074 19.2229 24.9107 19.5311 24.9107 19.9112V21.7466C24.9107 22.1267 24.6074 22.4348 24.2332 22.4348C23.859 22.4348 23.5557 22.1267 23.5557 21.7466V19.9112Z' fill='%230452C3'/%3E%3C/svg%3E%0A");
    }
    &.phone:before {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 11C10.5 7.68629 13.1863 5 16.5 5H31.5C34.8137 5 37.5 7.68629 37.5 11V38C37.5 41.3137 34.8137 44 31.5 44H16.5C13.1863 44 10.5 41.3137 10.5 38V11Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.5 8H16.5C14.8431 8 13.5 9.34315 13.5 11V38C13.5 39.6569 14.8431 41 16.5 41H31.5C33.1569 41 34.5 39.6569 34.5 38V11C34.5 9.34315 33.1569 8 31.5 8ZM16.5 5C13.1863 5 10.5 7.68629 10.5 11V38C10.5 41.3137 13.1863 44 16.5 44H31.5C34.8137 44 37.5 41.3137 37.5 38V11C37.5 7.68629 34.8137 5 31.5 5H16.5Z' fill='%238C9BAE'/%3E%3Cpath d='M19.5 6.5H28.5V8.75C28.5 9.57843 27.8284 10.25 27 10.25H21C20.1716 10.25 19.5 9.57843 19.5 8.75V6.5Z' fill='%238C9BAE'/%3E%3Cpath d='M25.9403 20.3033V19.2359C25.9403 18.2043 25.089 17.368 24.039 17.368C22.9889 17.368 22.1376 18.2043 22.1376 19.2359V20.3033H20.2363V19.2359C20.2363 17.1726 21.9388 15.5 24.039 15.5C26.1391 15.5 27.8416 17.1726 27.8416 19.2359V20.3033H25.9403Z' fill='%23C3CFDE'/%3E%3Cpath d='M18 26.7957C18 30.0801 22.3923 32.5002 24.0395 32.5002C25.6866 32.5002 30.0789 30.0801 30.0789 26.7957C30.0789 25.0669 30.0789 23.5022 30.0789 22.4079C30.0789 21.4616 29.46 20.6247 28.5487 20.3377L25.0383 19.2325C24.3885 19.028 23.6905 19.028 23.0407 19.2325L19.5303 20.3377C18.6189 20.6247 18 21.4616 18 22.4079C18 23.5022 18 25.0669 18 26.7957Z' fill='%2378AFFF'/%3E%3Cpath d='M25.6062 24.6713C25.6062 25.536 24.9052 26.237 24.0404 26.237C23.1756 26.237 22.4746 25.536 22.4746 24.6713C22.4746 23.8065 23.1756 23.1055 24.0404 23.1055C24.9052 23.1055 25.6062 23.8065 25.6062 24.6713Z' fill='%230452C3'/%3E%3Cpath d='M23.3693 26.0134C23.3693 25.6428 23.6698 25.3423 24.0404 25.3423C24.411 25.3423 24.7115 25.6428 24.7115 26.0134V27.8028C24.7115 28.1734 24.411 28.4739 24.0404 28.4739C23.6698 28.4739 23.3693 28.1734 23.3693 27.8028V26.0134Z' fill='%230452C3'/%3E%3C/svg%3E%0A");
    }
    & + span {
      margin-left: 5.6rem;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    left: calc(50% - 0.8rem);
    top: calc(50% - 0.8rem);
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1235_20268)'%3E%3Ccircle cx='7.99935' cy='7.99984' r='7.33333' fill='%23B4BDCD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.14645 4.14645C5.95118 4.34171 5.95118 4.65829 6.14645 4.85355L9.04289 7.75L6.14645 10.6464C5.95118 10.8417 5.95118 11.1583 6.14645 11.3536C6.34171 11.5488 6.65829 11.5488 6.85355 11.3536L10.1036 8.10355C10.2988 7.90829 10.2988 7.59171 10.1036 7.39645L6.85355 4.14645C6.65829 3.95118 6.34171 3.95118 6.14645 4.14645Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1235_20268'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.simple-pwd {
  display: inline-flex;
  position: relative;
  align-items: center;
  .dot {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: #d9d9d9;
    & + .dot {
      margin-left: 2rem;
    }
    &.on {
      background-color: $primary-color;
    }
  }
  & > input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    border: 0;
    background-color: transparent;
    color: transparent;
  }
}

.msg-result.type-biometric {
  & + button {
    margin-top: 3.2rem;
    & + button {
      margin-top: 1.2rem;
    }
  }
}

.dim-login {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .finger {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='119' height='119' rx='59.5' fill='%23F8FBFF'/%3E%3Crect x='0.5' y='0.5' width='119' height='119' rx='59.5' stroke='%23E1EAF7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M46.4985 33.614C50.4729 31.3149 55.0878 30 60.0007 30C74.9124 30 87.0007 42.0883 87.0007 57C87.0007 64.7 85.9254 72.1538 83.9151 79.2171C83.4615 80.8107 81.802 81.7348 80.2084 81.2813C78.6148 80.8277 77.6907 79.1682 78.1442 77.5746C80.0041 71.0403 81.0007 64.139 81.0007 57C81.0007 45.402 71.5987 36 60.0007 36C56.1707 36 52.5886 37.0226 49.5029 38.8076C48.0687 39.6372 46.2335 39.1471 45.4039 37.713C44.5742 36.2788 45.0643 34.4436 46.4985 33.614ZM40.7136 42.4032C42.1478 43.2328 42.6379 45.068 41.8083 46.5022C40.0233 49.5879 39.0007 53.17 39.0007 57C39.0007 62.1579 37.8152 67.0474 35.6991 71.4033C34.9751 72.8936 33.1801 73.5148 31.6898 72.7908C30.1995 72.0668 29.5783 70.2718 30.3023 68.7815C32.0301 65.2248 33.0007 61.23 33.0007 57C33.0007 52.0871 34.3156 47.4722 36.6146 43.4978C37.4443 42.0636 39.2795 41.5736 40.7136 42.4032ZM45.0004 57C45.0004 48.7157 51.7161 42 60.0004 42C68.2847 42 75.0004 48.7157 75.0004 57C75.0004 60.1874 74.7834 63.3277 74.363 66.406C74.1388 68.0476 72.6262 69.1966 70.9846 68.9724C69.343 68.7482 68.1939 67.2356 68.4182 65.594C68.802 62.7838 69.0004 59.9148 69.0004 57C69.0004 52.0294 64.971 48 60.0004 48C55.0298 48 51.0004 52.0294 51.0004 57C51.0004 65.8068 48.4796 73.9973 44.1239 80.9214C44.0819 80.9883 44.0408 81.0555 44.0007 81.123C43.1547 82.5476 41.314 83.0165 39.8894 82.1705C38.4649 81.3244 37.9959 79.4838 38.8419 78.0592C38.9081 77.9478 38.9759 77.8369 39.0452 77.7267L41.5846 79.324L39.0452 77.7266C42.8165 71.7315 45.0004 64.6438 45.0004 57ZM60.0003 54C61.6572 54 63.0003 55.3431 63.0003 57C63.0003 68.1332 59.8054 78.5294 54.2812 87.311C53.399 88.7135 51.5469 89.1352 50.1445 88.253C48.742 87.3708 48.3203 85.5187 49.2025 84.1162C54.1425 76.2634 57.0003 66.97 57.0003 57C57.0003 55.3431 58.3434 54 60.0003 54ZM70.3297 72.1133C71.9239 72.5645 72.8506 74.2226 72.3995 75.8169C71.2126 80.0111 69.6393 84.0446 67.7206 87.8746C66.9784 89.356 65.1759 89.9552 63.6946 89.2131C62.2132 88.471 61.614 86.6685 62.3561 85.1871C64.1075 81.6911 65.5432 78.0102 66.6262 74.1831C67.0773 72.5889 68.7354 71.6622 70.3297 72.1133Z' fill='%232E7FF8'/%3E%3C/svg%3E%0A");
  }
}

.certificate-card {
  position: relative;
  margin: 0 auto;
  border: 0.1rem solid #cbd4e1;
  width: 30rem;
  height: 42.6rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  padding: 0;
  background: linear-gradient(157.41deg, #edf1f7 7.63%, #f8fbff 37.9%, #edf1f7 85.23%);
  box-shadow: 0 0 2.8rem 0 rgba(203, 212, 225, 0.5);
  &:before {
    content: '';
    display: inline-block;
    width: 7.2rem;
    height: 7.2rem;
    margin: 3rem 0 0 3.1rem;
    background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='72' height='72' rx='36' fill='white'/%3E%3Cpath d='M39.4805 26.5495V23.9648C39.4805 21.4666 37.4191 19.4414 34.8763 19.4414C32.3335 19.4414 30.2721 21.4666 30.2721 23.9648V26.5495H25.668V23.9648C25.668 18.9684 29.7907 14.918 34.8763 14.918C39.9619 14.918 44.0846 18.9684 44.0846 23.9648V26.5495H39.4805Z' fill='%23C3CFDE'/%3E%3Cpath d='M20.25 42.2722C20.25 50.2256 30.8864 56.0859 34.875 56.0859C38.8636 56.0859 49.5 50.2256 49.5 42.2722C49.5 38.0857 49.5 34.2968 49.5 31.6469C49.5 29.3553 48.0012 27.3287 45.7943 26.6338L37.2937 23.9575C35.7201 23.4621 34.0299 23.4621 32.4563 23.9575L23.9557 26.6338C21.7488 27.3287 20.25 29.3553 20.25 31.6469C20.25 34.2968 20.25 38.0857 20.25 42.2722Z' fill='%2378AFFF'/%3E%3Cpath d='M38.6654 37.1276C38.6654 39.2217 36.9678 40.9193 34.8737 40.9193C32.7796 40.9193 31.082 39.2217 31.082 37.1276C31.082 35.0335 32.7796 33.3359 34.8737 33.3359C36.9678 33.3359 38.6654 35.0335 38.6654 37.1276Z' fill='%230452C3'/%3E%3Cpath d='M33.2487 40.3776C33.2487 39.4801 33.9762 38.7526 34.8737 38.7526C35.7712 38.7526 36.4987 39.4801 36.4987 40.3776V44.7109C36.4987 45.6084 35.7712 46.3359 34.8737 46.3359C33.9762 46.3359 33.2487 45.6084 33.2487 44.7109V40.3776Z' fill='%230452C3'/%3E%3C/svg%3E%0A");
  }
  & > strong {
    @include font(2.4rem, 700, 3.2rem);
    margin-top: 1rem;
    flex: 1;
    padding: 0 3.1rem;
  }
  & > ul {
    @include font(1.6rem, 500, 2.4rem);
    border-top: 0.1rem solid #cbd4e1;
    padding: 1.5rem 3.1rem 2.1rem;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 10.6rem;
    height: 7.4rem;
    position: absolute;
    top: 24.8rem;
    right: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg width='106' height='74' viewBox='0 0 106 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.05' clip-path='url(%23clip0_1299_30985)'%3E%3Cpath d='M38.8316 0.03125H0V73.9138H38.531L8.20474 37.1518L38.8316 0.03125Z' fill='%23192B87'/%3E%3Cpath d='M61.6375 31.9941H39.6914V73.9132H61.6375V31.9941Z' fill='%23192B87'/%3E%3Cpath d='M38.7324 11.805C38.7324 18.3102 44.0749 23.5849 50.6637 23.5849C57.2526 23.5849 62.5951 18.3102 62.5951 11.805C62.5951 5.29974 57.2526 0.03125 50.6637 0.03125C44.0749 0.03125 38.7324 5.30592 38.7324 11.805Z' fill='%23E7350E'/%3E%3Cpath d='M66.6582 73.9144V73.9948C83.4372 73.8897 97.6296 63.6866 103.003 49.4766H66.6582V73.9144Z' fill='%23192B87'/%3E%3Cpath d='M82.2617 73.9141V74.0006C82.3431 74.0006 82.4183 74.0006 82.4997 74.0006V73.9202H82.2617V73.9141Z' fill='%23192B87'/%3E%3Cpath d='M66.6582 23.2011H102.484C96.7652 9.68363 82.9049 0.105122 66.6582 0V23.2011Z' fill='%23192B87'/%3E%3Cpath d='M82.2617 0.0309184H82.4997V0C82.4183 0 82.3431 0 82.2617 0V0.0309184Z' fill='%23192B87'/%3E%3Cpath d='M66.6582 24.2782C66.8461 24.2535 67.034 24.2288 67.2344 24.2288C68.9192 24.2288 70.51 24.5256 72.0007 24.9832H103.141C103.003 24.5812 102.859 24.1731 102.703 23.7773H66.6582V24.2782Z' fill='%231CA144'/%3E%3Cpath d='M76.0222 26.8738H103.793C103.68 26.4657 103.536 26.0637 103.398 25.668H73.8301C74.613 26.0143 75.3458 26.4162 76.0222 26.8738Z' fill='%231CA144'/%3E%3Cpath d='M78.4404 28.9402H104.339C104.251 28.5383 104.132 28.1301 104.019 27.7344H77.2441C77.6826 28.1054 78.0709 28.5197 78.4404 28.9402Z' fill='%231CA144'/%3E%3Cpath d='M79.886 30.8308H104.732C104.663 30.4289 104.607 30.0208 104.519 29.625H79.1094C79.4163 30.0022 79.6417 30.4227 79.8923 30.8308H79.886Z' fill='%231CA144'/%3E%3Cpath d='M80.8951 32.8972H105.065C105.008 32.4891 104.927 32.0995 104.871 31.6914H80.4316C80.6321 32.081 80.7385 32.4953 80.8951 32.8972Z' fill='%231CA144'/%3E%3Cpath d='M81.4037 34.7898H105.197C105.172 34.3879 105.172 33.9797 105.141 33.584H81.1406C81.2534 33.9859 81.3348 34.3817 81.4037 34.7898Z' fill='%231CA144'/%3E%3Cpath d='M81.6022 36.5698C81.6022 36.6626 81.5771 36.7615 81.5708 36.8543H105.308C105.308 36.4461 105.252 36.0566 105.239 35.6484H81.502C81.527 35.9576 81.6022 36.2544 81.6022 36.5698Z' fill='%231CA144'/%3E%3Cpath d='M81.3574 38.7465H105.151C105.176 38.3384 105.251 37.9488 105.251 37.5469H81.5015C81.4576 37.9488 81.4451 38.3569 81.3574 38.7465Z' fill='%231CA144'/%3E%3Cpath d='M80.6758 40.8132H104.946C104.989 40.4175 105.027 40.0155 105.071 39.6074H81.1205C80.9952 40.0155 80.8512 40.4237 80.6821 40.8132H80.6758Z' fill='%231CA144'/%3E%3Cpath d='M79.6309 42.7035H104.771C104.853 42.314 104.853 41.8997 104.896 41.5039H80.4012C80.1883 41.9244 79.9064 42.3078 79.6309 42.7035Z' fill='%231CA144'/%3E%3Cpath d='M77.8891 44.7699H104.326C104.426 44.3618 104.576 43.9846 104.664 43.5703H79.0478C78.697 43.997 78.2899 44.3804 77.8828 44.7699H77.8891Z' fill='%231CA144'/%3E%3Cpath d='M75.4336 46.6625H103.793C103.906 46.2606 104.031 45.8648 104.131 45.4629H77.1497C76.6173 45.8957 76.0411 46.3039 75.4336 46.6625Z' fill='%231CA144'/%3E%3Cpath d='M69.1523 48.727H103.218C103.343 48.3374 103.418 47.9231 103.543 47.5273H73.6806C72.2902 48.1333 70.7682 48.5476 69.1523 48.727Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 29.6258H79.1094C78.9277 29.3785 78.671 29.1744 78.4455 28.9395H66.6582V29.6258Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 33.5829H81.1449C81.076 33.3479 80.9883 33.1315 80.8944 32.8965H66.6582V33.5829Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 31.6916H80.4309C80.2931 31.3947 80.0802 31.1227 79.886 30.832H66.6582V31.6916Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 48.8561C66.8461 48.8747 67.034 48.9056 67.2344 48.9056C67.8795 48.9056 68.5121 48.8128 69.1572 48.7324H66.6582V48.8623V48.8561Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 47.5278H73.6855C74.2867 47.2681 74.8943 47.0022 75.4392 46.6621H66.6582V47.5278Z' fill='%231CA144'/%3E%3Cpath d='M66.6586 27.7326H77.2434C76.8738 27.4234 76.4417 27.1513 76.022 26.873H66.6523V27.7326H66.6586Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 45.4621H77.1553C77.4121 45.2457 77.6438 45.0045 77.8881 44.7695H66.6582V45.4621Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 43.5688H79.053C79.266 43.2906 79.4351 42.9938 79.6292 42.7031H66.6582V43.5688Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 35.6486H81.5019C81.4769 35.3641 81.4581 35.0735 81.4017 34.7891H66.6582V35.6486Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 25.6688H73.8295C73.2408 25.4091 72.6458 25.1803 72.0007 24.9824H66.6582V25.6688Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 39.6056H81.1199C81.2075 39.3274 81.289 39.0429 81.3578 38.7461H66.6582V39.6056Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 41.5051H80.3996C80.4998 41.2825 80.5937 41.0475 80.6814 40.8125H66.6582V41.5051Z' fill='%231CA144'/%3E%3Cpath d='M66.6582 37.5461H81.5019C81.5144 37.3173 81.5708 37.0885 81.5708 36.8535H66.6582V37.5461Z' fill='%231CA144'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1299_30985'%3E%3Crect width='106' height='74' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

/* common */
.align-right {
  text-align: right;
}

/* title */
.tit-form {
  @include font(1.8rem, 700, 2.8rem);
  & + .form-row {
    margin-top: 1.2rem;
  }
}

/* list */
.list-tit {
  @include font(1.6rem, 400, 2.4rem);
  & + ol,
  & + ul {
    margin-top: 1rem;
  }
}
.list-number {
  @include font(1.5rem, 400, 2.4rem);
  color: $text-body-color;
  padding-left: 2.4rem;
  li {
    list-style: decimal;
    & + li {
      margin-top: 1.2rem;
    }
  }
}

//회원 가입
.allow-app {
  margin-top: 8.2rem;
  .allow-tit {
    margin-bottom: 1.6rem;
    font-weight: 400;
    color: $base-txt-color;
    line-height: 2.4rem;
    margin-top: 4rem;
  }
  .allow-list {
    ul {
      li {
        position: relative;
        box-sizing: border-box;
        padding-left: 5.6rem;
        min-height: 4.8rem;
        line-height: 2.4rem;
        color: $text-body-color;
        .list-tit {
          display: block;
          color: $base-txt-color;
          font-weight: 700;
        }
        & + li {
          margin-top: 2.4rem;
        }
      }
    }
    .ico {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      background-color: $white-color;
      border: 0.1rem solid $box-line;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 2.4rem;
      position: absolute;
      left: 0;
      top: 0;
      &.ico-phone {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 5C5 3.34315 6.34315 2 8 2H16C17.6569 2 19 3.34315 19 5V19C19 20.6569 17.6569 22 16 22H8C6.34315 22 5 20.6569 5 19V5ZM8 4C7.44772 4 7 4.44772 7 5V19C7 19.5523 7.44772 20 8 20H16C16.5523 20 17 19.5523 17 19V5C17 4.44772 16.5523 4 16 4H8ZM11 18C11 17.4477 11.4477 17 12 17H12.01C12.5623 17 13.01 17.4477 13.01 18C13.01 18.5523 12.5623 19 12.01 19H12C11.4477 19 11 18.5523 11 18Z' fill='black'/%3E%3C/svg%3E");
      }
      &.ico-storage {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V10C22 10.7684 21.7111 11.4692 21.2361 12C21.7111 12.5308 22 13.2316 22 14V18C22 19.6569 20.6569 21 19 21H5C3.34315 21 2 19.6569 2 18V14C2 13.2316 2.28885 12.5308 2.7639 12C2.28885 11.4692 2 10.7684 2 10V6ZM5 13C4.44772 13 4 13.4477 4 14V18C4 18.5523 4.44772 19 5 19H19C19.5523 19 20 18.5523 20 18V14C20 13.4477 19.5523 13 19 13H5ZM19 11C19.5523 11 20 10.5523 20 10V6C20 5.44772 19.5523 5 19 5H5C4.44772 5 4 5.44772 4 6V10C4 10.5523 4.44772 11 5 11H19ZM16 8C16 7.44772 16.4477 7 17 7H17.01C17.5623 7 18.01 7.44772 18.01 8C18.01 8.55228 17.5623 9 17.01 9H17C16.4477 9 16 8.55228 16 8ZM16 16C16 15.4477 16.4477 15 17 15H17.01C17.5623 15 18.01 15.4477 18.01 16C18.01 16.5523 17.5623 17 17.01 17H17C16.4477 17 16 16.5523 16 16Z' fill='%231A1B1D'/%3E%3C/svg%3E");
      }
      &.ico-camera {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0704 5C9.73601 5 9.42378 5.1671 9.23832 5.4453L8.42578 6.6641C7.86939 7.4987 6.93269 8 5.92963 8H5C4.44772 8 4 8.44772 4 9V18C4 18.5523 4.44772 19 5 19H19C19.5523 19 20 18.5523 20 18V9C20 8.44772 19.5523 8 19 8H18.0704C17.0673 8 16.1306 7.4987 15.5742 6.6641L14.7617 5.4453C14.5762 5.1671 14.264 5 13.9296 5H10.0704ZM7.57422 4.3359C8.13061 3.5013 9.06731 3 10.0704 3H13.9296C14.9327 3 15.8694 3.5013 16.4258 4.3359L17.2383 5.5547C17.4238 5.8329 17.736 6 18.0704 6H19C20.6569 6 22 7.34315 22 9V18C22 19.6569 20.6569 21 19 21H5C3.34315 21 2 19.6569 2 18V9C2 7.34315 3.34315 6 5 6H5.92963C6.26399 6 6.57622 5.8329 6.76168 5.5547L7.57422 4.3359ZM12 11C10.8954 11 10 11.8954 10 13C10 14.1046 10.8954 15 12 15C13.1046 15 14 14.1046 14 13C14 11.8954 13.1046 11 12 11ZM8 13C8 10.7909 9.79086 9 12 9C14.2091 9 16 10.7909 16 13C16 15.2091 14.2091 17 12 17C9.79086 17 8 15.2091 8 13Z' fill='black'/%3E%3C/svg%3E");
      }
      &.ico-addressList {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 16C2 15.4477 2.44771 15 3 15L4 15L4 9L3 9C2.44771 9 2 8.55229 2 8C2 7.44771 2.44771 7 3 7L4 7L4 5C4 3.34315 5.34314 2 7 2L19 2C20.6569 2 22 3.34314 22 5L22 19C22 20.6569 20.6569 22 19 22L7 22C5.34315 22 4 20.6569 4 19L4 17L3 17C2.44772 17 2 16.5523 2 16ZM6 17L6 19C6 19.5523 6.44772 20 7 20L19 20C19.5523 20 20 19.5523 20 19L20 5C20 4.44771 19.5523 4 19 4L7 4C6.44771 4 6 4.44772 6 5L6 7L7 7C7.55228 7 8 7.44771 8 8C8 8.55228 7.55228 9 7 9L6 9L6 15L7 15C7.55228 15 8 15.4477 8 16C8 16.5523 7.55228 17 7 17L6 17Z' fill='black'/%3E%3Cpath d='M11.5 9.5C11.5 8.11929 12.6193 7 14 7C15.3807 7 16.5 8.11929 16.5 9.5C16.5 10.8807 15.3807 12 14 12C12.6193 12 11.5 10.8807 11.5 9.5Z' fill='black'/%3E%3Cpath d='M10 16.5C10 14.2909 11.7909 12.5 14 12.5C16.2091 12.5 18 14.2909 18 16.5C18 16.7761 17.7761 17 17.5 17H10.5C10.2239 17 10 16.7761 10 16.5Z' fill='black'/%3E%3C/svg%3E");
      }
      &.ico-alarm {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.0185 4.66519C9.18499 3.16592 10.4564 2 12 2C13.5437 2 14.8151 3.16592 14.9816 4.6652C17.3554 5.78439 19 8.19905 19 11V14.1585C19 14.4321 19.1087 14.6945 19.3022 14.888L20.7071 16.2929C20.9931 16.5789 21.0787 17.009 20.9239 17.3827C20.7691 17.7564 20.4045 18 20 18L16 18C16 20.2091 14.2092 22 12 22C9.79089 22 8.00003 20.2091 8.00003 18L4.00003 18C3.59557 18 3.23093 17.7564 3.07615 17.3827C2.92137 17.009 3.00692 16.5789 3.29292 16.2929L4.69786 14.888C4.89133 14.6945 5.00003 14.4321 5.00003 14.1585V11C5.00003 8.19905 6.64464 5.78439 9.0185 4.66519ZM10 18C10 19.1046 10.8955 20 12 20C13.1046 20 14 19.1046 14 18H10ZM12 4C11.4477 4 11 4.44772 11 5V5.34142C11 5.76523 10.7329 6.14302 10.3333 6.28426C8.38994 6.97113 7.00003 8.82453 7.00003 11V14.1585C7.00003 14.8277 6.77872 15.4742 6.37664 16H17.6234C17.2213 15.4742 17 14.8277 17 14.1585V11C17 8.82453 15.6101 6.97113 13.6668 6.28426C13.2672 6.14302 13 5.76523 13 5.34142V5C13 4.44772 12.5523 4 12 4Z' fill='black'/%3E%3C/svg%3E");
      }
    }
  }
}
// 회원 가입
.type-linkList {
  ul {
    li {
      + li {
        margin-top: 1.2rem;
      }
      &.age14-over {
        a {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M2.38245 17.8016C1.41092 19.6177 2.51738 20.5762 3.19205 20.8285C12.2598 22.9473 18.5745 21.7113 20.5984 20.8285C21.2731 20.7024 22.4605 19.9204 21.8128 17.8016C21.0032 15.153 16.5504 12.8828 11.6927 12.8828C6.8351 12.8828 3.59685 15.5314 2.38245 17.8016Z' fill='%23438CF9'/%3E%3Cellipse cx='12.2774' cy='6.83739' rx='4.82429' ry='4.83739' fill='%23438CF9'/%3E%3C/svg%3E");
          }
        }
      }
      &.foreign {
        a {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_1259_7692)'%3E%3Cpath d='M0.70279 8.00051C2.9077 1.757 9.75599 -1.51746 15.9996 0.68745C22.2431 2.89231 25.5173 9.7415 23.3124 15.9851C21.9413 19.8674 18.7739 22.6024 15.0716 23.5855C5.80856 26.0526 -2.50294 17.078 0.70279 8.00051Z' fill='%234D94FF'/%3E%3Cpath d='M20.3125 10.1504L18.8769 16.5015C18.6617 17.4507 18.0376 18.2558 17.1722 18.7014L14.3448 20.1531C13.6182 20.5267 12.7725 19.9227 12.8901 19.1142L13.3779 15.7729C13.6976 13.5824 13.0019 12.0806 12.9029 11.6124C11.8654 8.10596 8.57367 7.51988 8.46338 7.45627L5.21475 6.4659C4.48519 6.24282 4.08614 5.45837 4.33664 4.73767L5.25689 2.08327C7.59637 0.48254 10.4144 -0.218803 13.2372 0.0657747L13.6353 0.851212C13.7402 1.05859 13.7819 1.2812 13.7672 1.49692C13.7373 1.92887 13.4829 2.33284 13.0642 2.53435L12.1214 2.98642C11.3428 3.36048 11.1349 4.37345 11.7041 5.02402C11.9846 5.2584 13.754 8.01329 17.6037 8.46681L19.2603 8.66242C19.9825 8.74773 20.4728 9.43998 20.3125 10.1504Z' fill='%234FD596'/%3E%3Cpath d='M10.5302 22.1299C10.5288 22.7324 10.2071 22.8447 9.82866 23.2257C9.65953 23.3963 9.47466 23.5507 9.27708 23.6875C4.09233 22.4652 0.159281 17.7825 0.00585938 12.3531C1.26638 12.3384 2.39944 12.7846 3.64866 10.9269C3.95409 10.4724 4.10414 9.88803 4.56352 9.53304C5.01848 9.18101 5.40633 9.10306 5.97211 9.21631C7.09434 9.44136 8.20242 10.2018 8.72555 11.2314C9.0555 11.8815 9.38203 13.0954 9.17025 13.8068C9.0217 14.305 8.72213 14.7423 8.49023 15.2027C7.85334 16.4656 7.46063 18.2027 8.43923 19.3524C8.90944 19.905 9.54727 20.2962 10.0125 20.8532C10.3032 21.2008 10.5322 21.668 10.5302 22.1299Z' fill='%234FD596'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1259_7692'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          }
        }
      }
      &.bio-confirm {
        a {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='10' fill='%232E7FF8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.53916 7.16777C10.2713 6.74296 11.1214 6.5 12.0264 6.5C14.7732 6.5 17 8.73363 17 11.489C17 12.9117 16.8019 14.289 16.4316 15.5941C16.3481 15.8886 16.0424 16.0594 15.7488 15.9756C15.4553 15.8917 15.285 15.5851 15.3686 15.2907C15.7112 14.0833 15.8948 12.8081 15.8948 11.489C15.8948 9.34592 14.1628 7.60866 12.0264 7.60866C11.3209 7.60866 10.661 7.7976 10.0926 8.12743C9.8284 8.28073 9.49035 8.19017 9.33752 7.92517C9.1847 7.66017 9.27497 7.32107 9.53916 7.16777ZM8.47354 8.79181C8.73773 8.94511 8.82801 9.2842 8.67518 9.54921C8.34637 10.1194 8.158 10.7813 8.158 11.489C8.158 12.442 7.93963 13.3455 7.54982 14.1503C7.41646 14.4257 7.0858 14.5405 6.81127 14.4067C6.53675 14.2729 6.42231 13.9413 6.55568 13.6659C6.87396 13.0087 7.05275 12.2706 7.05275 11.489C7.05275 10.5812 7.29496 9.72845 7.71847 8.99407C7.8713 8.72907 8.20935 8.63852 8.47354 8.79181ZM9.2632 11.489C9.2632 9.95822 10.5003 8.71731 12.0263 8.71731C13.5524 8.71731 14.7894 9.95822 14.7894 11.489C14.7894 12.0779 14.7495 12.6582 14.672 13.227C14.6307 13.5303 14.3521 13.7426 14.0497 13.7012C13.7473 13.6597 13.5356 13.3803 13.5769 13.0769C13.6476 12.5577 13.6842 12.0275 13.6842 11.489C13.6842 10.5705 12.9419 9.82597 12.0263 9.82597C11.1107 9.82597 10.3684 10.5705 10.3684 11.489C10.3684 13.1162 9.9041 14.6296 9.10175 15.9091C9.094 15.9214 9.08643 15.9338 9.07905 15.9463C8.9232 16.2095 8.58413 16.2962 8.32172 16.1399C8.0593 15.9835 7.97291 15.6434 8.12876 15.3802C8.14095 15.3596 8.15343 15.3391 8.16621 15.3187L8.63398 15.6139L8.16621 15.3187C8.86091 14.211 9.2632 12.9014 9.2632 11.489ZM12.0263 10.9346C12.3315 10.9346 12.5789 11.1828 12.5789 11.489C12.5789 13.5461 11.9904 15.4671 10.9728 17.0897C10.8103 17.3488 10.4691 17.4268 10.2108 17.2638C9.95244 17.1007 9.87476 16.7585 10.0373 16.4994C10.9472 15.0484 11.4737 13.3312 11.4737 11.489C11.4737 11.1828 11.7211 10.9346 12.0263 10.9346ZM13.9291 14.2815C14.2227 14.3649 14.3934 14.6713 14.3103 14.9659C14.0917 15.7408 13.8019 16.4861 13.4484 17.1938C13.3117 17.4676 12.9797 17.5783 12.7068 17.4412C12.4339 17.304 12.3236 16.971 12.4603 16.6973C12.7829 16.0513 13.0474 15.3711 13.2468 14.664C13.33 14.3694 13.6354 14.1982 13.9291 14.2815Z' fill='white'/%3E%3C/svg%3E");
          }
        }
      }
      &.simple-pw {
        a {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M14.625 8.75V7.25C14.625 5.80025 13.4497 4.625 12 4.625C10.5503 4.625 9.375 5.80025 9.375 7.25V8.75H6.75V7.25C6.75 4.3505 9.10051 2 12 2C14.8995 2 17.25 4.35051 17.25 7.25V8.75H14.625Z' fill='%23BFCBDE'/%3E%3Cpath d='M3.54492 11.75C3.54492 10.0931 4.88807 8.75 6.54492 8.75H17.454C19.1109 8.75 20.454 10.0931 20.454 11.75V18.5C20.454 20.1569 19.1109 21.5 17.454 21.5H6.54492C4.88807 21.5 3.54492 20.1569 3.54492 18.5V11.75Z' fill='%23438CF9'/%3E%3Cpath d='M12 13.625C12.2072 13.625 12.375 13.7929 12.375 14V14.4753L12.7865 14.2377C12.9659 14.1342 13.1952 14.1956 13.2988 14.375C13.4023 14.5544 13.3409 14.7837 13.1615 14.8873L12.7498 15.125L13.1617 15.3627C13.341 15.4663 13.4025 15.6956 13.2989 15.875C13.1954 16.0544 12.966 16.1158 12.7867 16.0123L12.375 15.7746V16.25C12.375 16.4571 12.2072 16.625 12 16.625C11.7929 16.625 11.625 16.4571 11.625 16.25V15.7743L11.213 16.0123C11.0336 16.1158 10.8042 16.0544 10.7007 15.875C10.5971 15.6956 10.6586 15.4663 10.838 15.3627L11.2498 15.125L10.8381 14.8873C10.6588 14.7837 10.5973 14.5544 10.7009 14.375C10.8044 14.1956 11.0338 14.1342 11.2131 14.2377L11.625 14.4756V14C11.625 13.7929 11.7929 13.625 12 13.625Z' fill='white'/%3E%3Cpath d='M16.5 13.625C16.7072 13.625 16.875 13.7929 16.875 14V14.4753L17.2865 14.2377C17.4659 14.1342 17.6952 14.1956 17.7988 14.375C17.9023 14.5544 17.8409 14.7837 17.6615 14.8873L17.2498 15.125L17.6617 15.3627C17.841 15.4663 17.9025 15.6956 17.7989 15.875C17.6954 16.0544 17.466 16.1158 17.2867 16.0123L16.875 15.7746V16.25C16.875 16.4571 16.7072 16.625 16.5 16.625C16.2929 16.625 16.125 16.4571 16.125 16.25V15.7743L15.713 16.0123C15.5336 16.1158 15.3042 16.0544 15.2007 15.875C15.0971 15.6956 15.1586 15.4663 15.338 15.3627L15.7498 15.125L15.3381 14.8873C15.1588 14.7837 15.0973 14.5544 15.2009 14.375C15.3044 14.1956 15.5338 14.1342 15.7131 14.2377L16.125 14.4756V14C16.125 13.7929 16.2929 13.625 16.5 13.625Z' fill='white'/%3E%3Cpath d='M7.50005 13.625C7.70715 13.625 7.87505 13.7929 7.87505 14V14.4753L8.28651 14.2377C8.46587 14.1342 8.69522 14.1956 8.79877 14.375C8.90232 14.5544 8.84087 14.7837 8.66151 14.8873L8.24981 15.125L8.66167 15.3627C8.84103 15.4663 8.90248 15.6956 8.79893 15.875C8.69537 16.0544 8.46603 16.1158 8.28667 16.0123L7.87505 15.7746V16.25C7.87505 16.4571 7.70715 16.625 7.50005 16.625C7.29294 16.625 7.12505 16.4571 7.12505 16.25V15.7743L6.71295 16.0123C6.53359 16.1158 6.30425 16.0544 6.20069 15.875C6.09714 15.6956 6.15859 15.4663 6.33795 15.3627L6.74981 15.125L6.33811 14.8873C6.15875 14.7837 6.0973 14.5544 6.20085 14.375C6.3044 14.1956 6.53375 14.1342 6.71311 14.2377L7.12505 14.4756V14C7.12505 13.7929 7.29294 13.625 7.50005 13.625Z' fill='white'/%3E%3C/svg%3E");
          }
        }
      }
      a {
        text-align: left;
        display: block;
        border: 0.1rem solid $box-line;
        line-height: 2.8rem;
        padding: 1.4rem 1.4rem 1.4rem 6.4rem;
        border-radius: 1.2rem;
        font-weight: 600;
        color: $black-color;
        &:active {
          border-color: $primary-color;
          background-color: $primary-blue3;
        }
        &::before {
          content: '';
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          position: absolute;
          left: 2.4rem;
          top: 1.6rem;
          background-position: center;
          background-size: 2.4rem;
        }
      }
    }
  }
}
// 생체인증 등록 & 간편 비밀번호
.biometric-regist,
.simple-pw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  .desc-title {
    text-align: center;
    margin-top: 8rem;
  }
  .btn-biometric {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    margin-top: 2.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7.2rem;
    background-image: url("data:image/svg+xml,%3Csvg width='73' height='72' viewBox='0 0 73 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='0.5' width='71' height='71' rx='35.5' fill='%23F8FBFF'/%3E%3Crect x='1' y='0.5' width='71' height='71' rx='35.5' stroke='%23E1EAF7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.6241 20.6081C30.9425 19.267 33.6345 18.5 36.5004 18.5C45.1989 18.5 52.2504 25.5515 52.2504 34.25C52.2504 38.7416 51.6232 43.0897 50.4504 47.21C50.1859 48.1396 49.2178 48.6787 48.2882 48.4141C47.3587 48.1495 46.8196 47.1814 47.0841 46.2519C48.169 42.4402 48.7504 38.4144 48.7504 34.25C48.7504 27.4845 43.2659 22 36.5004 22C34.2662 22 32.1767 22.5965 30.3767 23.6378C29.5401 24.1217 28.4695 23.8358 27.9856 22.9992C27.5016 22.1626 27.7875 21.0921 28.6241 20.6081ZM25.2496 25.7352C26.0862 26.2191 26.3721 27.2897 25.8882 28.1263C24.8469 29.9263 24.2504 32.0158 24.2504 34.25C24.2504 37.2588 23.5589 40.111 22.3245 42.6519C21.9022 43.5213 20.855 43.8836 19.9857 43.4613C19.1164 43.039 18.754 41.9919 19.1763 41.1225C20.1842 39.0478 20.7504 36.7175 20.7504 34.25C20.7504 31.3841 21.5174 28.6921 22.8585 26.3737C23.3425 25.5371 24.413 25.2512 25.2496 25.7352ZM27.7502 34.25C27.7502 29.4175 31.6677 25.5 36.5002 25.5C41.3327 25.5 45.2502 29.4175 45.2502 34.25C45.2502 36.1093 45.1236 37.9412 44.8784 39.7368C44.7476 40.6944 43.8653 41.3647 42.9077 41.2339C41.9501 41.1031 41.2798 40.2208 41.4106 39.2632C41.6345 37.6239 41.7502 35.9503 41.7502 34.25C41.7502 31.3505 39.3997 29 36.5002 29C33.6007 29 31.2502 31.3505 31.2502 34.25C31.2502 39.3873 29.7798 44.1651 27.239 48.2042C27.2144 48.2432 27.1905 48.2824 27.1671 48.3217C26.6736 49.1527 25.5998 49.4263 24.7688 48.9328C23.9378 48.4393 23.6643 47.3655 24.1578 46.5345C24.1964 46.4695 24.2359 46.4049 24.2764 46.3405L25.7577 47.2724L24.2764 46.3405C26.4763 42.8434 27.7502 38.7089 27.7502 34.25ZM36.5002 32.5C37.4667 32.5 38.2502 33.2835 38.2502 34.25C38.2502 40.7444 36.3865 46.8088 33.1641 51.9314C32.6494 52.7495 31.569 52.9955 30.751 52.4809C29.9329 51.9663 29.6869 50.8859 30.2015 50.0678C33.0831 45.487 34.7502 40.0658 34.7502 34.25C34.7502 33.2835 35.5337 32.5 36.5002 32.5ZM42.5257 43.0661C43.4556 43.3293 43.9962 44.2965 43.733 45.2265C43.0407 47.6731 42.1229 50.026 41.0037 52.2602C40.5707 53.1243 39.5193 53.4739 38.6552 53.041C37.791 52.6081 37.4415 51.5566 37.8744 50.6925C38.8961 48.6532 39.7335 46.5059 40.3653 44.2735C40.6284 43.3435 41.5957 42.803 42.5257 43.0661Z' fill='%232E7FF8'/%3E%3C/svg%3E%0A");
  }
}
.simple-btnWrap {
  margin-top: 10rem;
}
